<script setup lang="ts">
import {NotificationProps} from "../../../definition/props";
import store from "../../../stores/notification"
import {NotificationStyle} from "../../../definition/enums";

const props = defineProps<NotificationProps>()
</script>
<template>
    <div
        class="comNotification"
        :class="props.type"
    >
        <div class="comNotification__header">
            <div class="comNotification__title">
                <i v-if="props.type === NotificationStyle.SUCCESS" class="icon-check"/>
                <i v-if="props.type === NotificationStyle.DANGER" class="icon-close-circle"/>
                <i v-if="props.type === NotificationStyle.PRIMARY" class="icon-info-circle"/>
                <i v-if="props.type === NotificationStyle.WARNING" class="icon-warning"/>
                {{ props.title }}
            </div>
            <div class="comNotification__close" @click="store.actions.removeNotification(props.id)">
                <i class="icon-x-close"/>
            </div>
        </div>
        <div class="comNotification__content">
            {{ props.content }}
        </div>
    </div>
</template>
