<script setup lang="ts">
import ComNotification from "../atoms/notification/ComNotification.vue";
import store from '../../stores/notification';
import {NotificationProviderProps} from "../../definition/props.ts";

const props = defineProps<NotificationProviderProps>()
</script>

<template>
    <Teleport to="body">
        <div class="notificationProvider" :class="props.position">
            <div class="notificationProvider__content">
                <TransitionGroup
                    appear
                    tag="div"
                    enter-active-class="transform ease-out duration-300 transition"
                    enter-from-class="translate-x-4 opacity-0"
                    enter-to-class="translate-x-0 opacity-100"
                    leave-active-class="transition ease-in duration-100"
                    leave-from-class="opacity-100"
                    leave-to-class="opacity-0"
                    move-class="transition ease-in-out duration-500"
                >
                    <ComNotification
                        v-for="(notification, idx) in store.getters.getNotifications()"
                        :key="notification.id"
                        :class="idx > 0 ? 'mt-4' : ''"
                        :id="notification.id"
                        :title="notification.title"
                        :content="notification.content"
                        :type="notification.type"
                    />
                </TransitionGroup>
            </div>
        </div>
    </Teleport>
</template>
