<script setup lang="ts">
import {ref, watch} from 'vue'
import {CheckerProps} from "../../../definition/props";

const props = defineProps<CheckerProps>()
const content = ref<boolean>(props.modelValue)
const emit = defineEmits(['update:modelValue'])
watch(() => props.modelValue, payload => {
    content.value = payload
})
</script>
<template>
    <div class="comCheckBox">
        <label>
            <input
                type="checkbox"
                v-model="content"
                :checked="content"
                :disabled="props.disabled"
                @change="emit('update:modelValue', content)"
            />
            <span class="comCheckBox__checkMark icon-checkbox-checked"></span>
            <span class="comCheckBox__label">
                <slot></slot>
            </span>
        </label>
    </div>
</template>
