<script setup lang="ts">
import {reactive} from "vue";
import {routes} from "./router";
import {Option} from "../../src";

const themeOptions: Option[] = [
    {
        name: 'Theme Dark Teal',
        value: 'dark-teal.css'
    },
    {
        name: 'Theme Light Teal',
        value: 'light-teal.css'
    },
    {
        name: 'Theme Dark Blue',
        value: 'dark-blue.css'
    },
    {
        name: 'Theme Light Blue',
        value: 'light-blue.css'
    }
]
const state = reactive({
    theme: themeOptions[0],
    pages: Object.keys(routes).map(key => {
        // @ts-ignore
        let item = routes[key]
        item.is_selected = false
        return item
    }),
    page: routes.home
})
const onChangeTheme = (payload: Option) => {
    let themeLink = document.createElement('link');
    themeLink.rel = 'stylesheet';
    themeLink.href = payload.value;
    const head = document.head;
    head.appendChild(themeLink);
}

const onChangePage = (page: any) => {
    state.page = page
    // @ts-ignore
    state.pages = state.pages.map(item => {
        item.is_selected = item.name === page.name
        return item
    })
}

onChangePage(state.page)
</script>
<template>
    <div class="modable">
        <div class="sidebar">
            <div class="sidebar__header">
                <div class="sidebar__header__logo">M</div>
                <div class="sidebar__header__name">MODABLE</div>
            </div>
            <div class="sidebar__menu">
                <div class="sidebar__menu__heading">
                    PAGES
                </div>
                <router-link
                    v-for="item in state.pages"
                    @click="onChangePage(item)"
                    :class="[
                        'sidebar__menu__item',
                        item.is_selected ? 'activeBg' : ''
                    ]"
                    :to="item.path">
                    <i :class="item.icon"></i>
                    {{ item.name }}
                </router-link>
            </div>
        </div>
        <div class="main">
            <div class="navbar">
                <ComSelectBox
                    :options="themeOptions"
                    v-model="state.theme"
                    @update:model-value="onChangeTheme"
                />
                <div class="navbar__item">
                    <div class="avatar">
                        TH
                    </div>
                    ThaiNPH
                </div>
            </div>
            <div class="content">
                <h1 class="heading">{{ state.page.name }}</h1>
                <router-view/>
            </div>
        </div>
    </div>
</template>
