<script setup lang="ts">
import {TextBoxProps} from "../../../definition/props";
import {ref, watch} from "vue";

const props =  defineProps<TextBoxProps>()
const content = ref(props.modelValue)
const delayHandle = ref<ReturnType<typeof setTimeout> | undefined>()
const emit = defineEmits(['update:modelValue'])

watch(() => props.modelValue, payload => {
    content.value = payload
})

const onChange = () => {
    if (props.delayTime) {
        if (delayHandle.value) {
            clearTimeout(delayHandle.value)
        }

        delayHandle.value = setTimeout(() => emit('update:modelValue', content.value), props.delayTime)
        return
    }

    emit('update:modelValue', content.value)
}

</script>
<template>
    <div class="comTextBox"
         :class="[
             props.prefixIcon ? 'comTextBox--hasPrefix' : null,
             props.suffixIcon ? 'comTextBox--hasSuffix' : null,
         ]"
    >
        <input
            v-model="content"
            @input="onChange"
            @keyup.enter="props.onEnter"
            @focusin="props.onFocusIn"
            @focusout="props.onFocusOut"
            :type="props.inputType ?? 'text'"
            :placeholder="placeholder"
            :maxlength="maxLength"
            :disabled="readonly"
        />
        <i v-if="props.prefixIcon"
           class="comTextBox__prefix"
           :class="props.prefixIcon"
        />
        <i v-if="props.suffixIcon"
           class="comTextBox__suffix"
           :class="props.suffixIcon"
        />
    </div>
</template>
