:root {
    --bg-color: #222831;
    --bg-color-2: #393E46;
    --theme-color: #3282B8;

    --text-color: #EEEEEE;
    --text-color-2: #fff9;
    --text-color-3: #eaeff4;

    --hover-bg-color: #393E46;
    --border-color: #393E46;
    --border-color-2: #393E46;

    --shadow: #919eab4d 0 0 2px, #919eab05 0 12px 24px -4px;
    --shadow-2: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;

    --border-radius: 7px;
    --font-size: 0.9rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.5rem;
}
