:root {
    --bg-color: #FFFF;
    --bg-color-2: #CBF1F5;
    --theme-color: #00ADB5;

    --text-color: #2C3E50;
    --text-color-2: rgba(44, 62, 80, 0.94);
    --text-color-3: rgba(44, 62, 80, 0.95);

    --hover-bg-color: #CBF1F5;
    --border-color: rgba(190, 196, 222, 0.24);
    --border-color-2: #85c6cc; // Use for button border

    --shadow: #919eab4d 0 0 2px, #919eab05 0 12px 24px -4px;
    --shadow-2: 0 5px 5px -3px #0003,0 8px 10px 1px #00000024,0 3px 14px 2px #0000001f;

    --border-radius: 7px;
    --font-size: 0.9rem;
    --font-size-2: 1.2rem;
    --font-size-3: 1.5rem;
}
