:root {
    // Uploader
    --uploader-width: 300px;
    // Table
    --table-border-color: var(--border-color);
    --table-bg-color: var(--bg-color);
    --table-thead-bg-color: var(--bg-color);

    // Card
    --card-bg-color: var(--bg-color);
    --card-header-bg-color: var(--bg-color-2);

    // Form
    --form-bg-color: var(--bg-color);
    --input-bg-color: var(--bg-color);
    --input-padding: 10px 14px;
    --input-prex-suffix-width: 40px;

    // Sidebar
    --sidebar-bg-color: var(--bg-color);
    --sidebar-width: 17rem;
    --sidebar-border-color: var(--border-color);
    --sidebar-logo-color: var(--theme-color);
    --sidebar-hover-color: var(--text-color);

    // Notibar
    --notibar-width: 30rem;

    // Navbar
    --navbar-bg-color: var(--bg-color);
    --navbar-height: 4rem;

    // ListMenu
    --list-menu-font-size: 1.2rem;


    // Modal
    --modal-bg-color: rgba(70, 70, 70, 0.49);
    --modal-z-index: 998;

    // Notification
    --notification-z-index: 999;
    --notication-bg-color: var(--color-white);

    //Button
    --button-px: 0.7rem;
    --button-py: 1.5rem;

    // Color

    --color-black: #1b1919;
    --color-white: rgba(252, 251, 251, 0.94);

    --color-gray-25: #FCFCFD;
    --color-gray-50: #F9FAFB;
    --color-gray-100: #F2F4F7;
    --color-gray-200: #EAECF0;
    --color-gray-300: #D0D5DD;
    --color-gray-400: #98A2B3;
    --color-gray-500: #667085;
    --color-gray-600: #475467;
    --color-gray-700: #344054;
    --color-gray-800: #1D2939;

    --color-primary-25: #F5FAFF;
    --color-primary-50: #EFF8FF;
    --color-primary-100: #D1E9FF;
    --color-primary-200: #B2DDFF;
    --color-primary-300: #84CAFF;
    --color-primary-400: #53B1FD;
    --color-primary-500: #2E90FA;
    --color-primary-600: #1570EF;
    --color-primary-700: #175CD3;
    --color-primary-800: #1849A9;
    --color-primary-900: #194185;

    --color-danger-50: #FEF3F2;
    --color-danger-100: #FEE4E2;
    --color-danger-200: #FECDCA;
    --color-danger-300: #FDA29B;
    --color-danger-400: #F97066;
    --color-danger-500: #F04438;
    --color-danger-600: #D92D20;
    --color-danger-700: #B42318;
    --color-danger-800: #912018;
    --color-danger-900: #7A271A;

    --color-warning-50:  #FFFAEB;
    --color-warning-100: #FEF0C7;
    --color-warning-200: #FEDF89;
    --color-warning-300: #FEC84B;
    --color-warning-400: #FDB022;
    --color-warning-500: #F79009;
    --color-warning-600: #DC6803;
    --color-warning-700: #B54708;
    --color-warning-800: #93370D;
    --color-warning-900: #7A2E0E;

    --color-success-50:  #ECFDF3;
    --color-success-100: #D1FADF;
    --color-success-200: #A6F4C5;
    --color-success-300: #6CE9A6;
    --color-success-400: #32D583;
    --color-success-500: #12B76A;
    --color-success-600: #039855 ;
    --color-success-700: #027A48;
    --color-success-800: #05603A;
    --color-success-900: #054F31;

}
