.comButton {
    border-radius: var(--border-radius);
    background-color: var(--bg-color);
    color: var(--text-color-3);
    border: 1px solid var(--border-color-2);
    padding: var(--button-px) var(--button-py);
    @apply cursor-pointer outline-0 flex justify-center items-center gap-1 box-border;

    @include buttonHover(var(--text-color-3),  var(--hover-bg-color));
    @include buttonFocus(var(--shadow));
    @include buttonDisable(var(--text-color), var(--border-color), var(--bg-color));

    &.comButton--transparent {
        background: transparent;
        box-shadow: none;
        color: var(--theme-color);
        border: none;
        @include buttonHover(var(--theme-color), transparent);
        @include buttonFocus(none);
        @include buttonDisable(var(--theme-color), transparent, transparent);
    }

    &.comButton--link {
        color: var(--theme-color);
        border: none;
        background: transparent;
        box-shadow: none;
        padding: 0 !important;
        @include buttonHover(var(--theme-color), transparent);
        @include buttonFocus(none);
        @include buttonDisable(var(--theme-color), transparent, transparent);
    }

    &.comButton--custom {
        color: var(--color);
        border: 1px solid var(--bgColor);
        background: var(--bgColor);
        @include buttonHover(var(--colorHover), var(--bgColorHover));
        @include buttonFocus(var(--boxShadowColor));
        @include buttonDisable(var(--colorDisable), var(--bgColorDisable), var(--bgColorDisable));
    }

    &.comButton--primary {
        color: var(--color-white);
        background: var(--color-primary-600);
        border-color: var(--color-primary-600);

        @include buttonHover(var(--color-white), var(--color-primary-500));
        @include buttonFocus(var(--shadow));
        @include buttonDisable(var(--color-white), var(--border-color), var(--color-primary-900));
    }

    &.comButton--success {
        color: var(--color-white);
        background: var(--color-success-600);
        border-color: var(--color-success-600);

        @include buttonHover(var(--color-white), var(--color-success-500));
        @include buttonFocus(var(--shadow));
        @include buttonDisable(var(--color-white), var(--border-color), var(--color-success-900));
    }

    &.comButton--warning {
        color: var(--color-white);
        background: var(--color-warning-600);
        border-color: var(--color-warning-600);

        @include buttonHover(var(--color-white), var(--color-warning-500));
        @include buttonFocus(var(--shadow));
        @include buttonDisable(var(--color-white), var(--border-color), var(--color-warning-900));
    }

    &.comButton--danger {
        color: var(--color-white);
        background: var(--color-danger-600);
        border-color: var(--color-danger-600);

        @include buttonHover(var(--color-white), var(--color-danger-500));
        @include buttonFocus(var(--shadow));
        @include buttonDisable(var(--color-white), var(--border-color), var(--color-danger-900));
    }

    &.comButton--sm {
        padding: calc(var(--button-px) - 0.3rem) calc(var(--button-py) - 0.3rem);
    }
    &.comButton--md {
        padding: var(--button-px) var(--button-py);
    }
    &.comButton--lg {
        padding: calc(var(--button-px) + 0.3rem) calc(var(--button-py) + 0.3rem);
    }
    &.comButton--xl {
        padding: calc(var(--button-px) + 0.6rem) calc(var(--button-py) + 0.6rem);
    }
    &.comButton--2xl {
        padding: calc(var(--button-px) + 1rem) calc(var(--button-py) + 1rem);
    }
}
