.comCheckBox {
    @apply flex flex-wrap gap-3 p-0 m-0;
    label {
        @apply flex gap-1 cursor-pointer items-center;

        .comCheckBox__checkMark {
            border: 1px solid var(--border-color);
            background-color: var(--bg-color);
            color: var(--theme-color);
            width: 20px;
            height: 20px;
            border-radius: 6px;
            font-size: 20px;
            display: inline-block;
            transition: all 0.3s ease-in;
            &:before {
                display: none;
            }
        }
        .comCheckBox__label {
            display: inline-block;
        }
        input {
            display: none;
            &:checked ~ .comCheckBox__checkMark {
                border: none;
                &:before {
                    display: block;
                }
            }
        }
    }
}
