.comChunkUploader {
    @apply flex flex-col gap-2;
    color: var(--text-color);
    width: fit-content;

    .dropzone {
        @apply flex justify-center items-center;
        width: 100%;
        border: 2px dashed var(--border-color);
        border-radius: var(--border-radius);
        padding: 2.5rem;
        text-align: center;
        cursor: pointer;
        transition: border-color 0.3s;

        i {
            font-size: calc(var(--font-size-3) + 1rem);
            color: var(--color-gray-400);
        }

        &:hover {
            background: var(--hover-bg-color);
        }
    }
    .file {
        @apply flex justify-evenly items-center gap-3 w-full;
        padding: 1rem;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        background: var(--bg-color);

        .file__icon {
            width: 40px;
            @apply flex justify-center items-center;
            i {
                font-size: calc(var(--font-size-3) + 1rem);
                color: var(--color-gray-400);
            }
        }

        .file__remove {
            width: 40px;
            @apply flex justify-center items-center;
            i {
                font-size: var(--font-size-3);
                color: var(--color-danger-500);
                cursor: pointer;
            }
        }
        .file__name {
            width: calc(var(--uploader-width) - 80px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            font-size: var(--font-size);
            color: var(--text-color-3);
        }
        .file__size {
            font-size: calc(var(--font-size) - 0.1rem);
        }
    }
}
