.comDatetimePicker {
    .comDatetimePicker__trigger {
        width: 100% !important;
    }
    .dateMatrix {
        @apply flex flex-col gap-2 w-fit p-1;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);

        .dateMatrix__header {
            color : var(--text-color-3);
            .dateMatrix__item {
                cursor: default;
                &:hover {
                    background: unset;
                }
            }
        }
        .dateMatrix__row {
            @apply flex items-center gap-2;
        }
        .dateMatrix__item {
            border-radius: 50%;
            width: 30px;
            min-width: 30px;
            max-width: 30px;
            height: 30px;
            @apply flex items-center justify-center cursor-pointer;
            &.can-select {
                &:hover {
                    color: var(--color-white);
                    background: var(--theme-color);
                }
            }
            &.is-disabled {
                cursor: default;
                opacity: 0.5;
                &:hover {
                    color: unset;
                    background: unset;
                }
            }
            &.is-today {
                color: var(--text-color-3);
            }
            &.is-selected {
                color: var(--text-color-3);
                background: var(--hover-bg-color);
            }
        }
    }
    .timePicker {
        @apply flex gap-2 items-center justify-center w-full mt-3;
    }
    .comDropdown {
        .comDropdown__content {
            padding: 0;
            right: unset;
        }
    }
    .comSelectBox {
        padding: 5px 10px;
    }
}
