.comDropdown {
    &.comDropdown--fixed {
        position: relative;
        .comDropdown__content {
            z-index: 1;
            position: absolute;
        }
    }
    &.comDropdown--click {
        .comDropdown__trigger {
            cursor: pointer;
        }
    }
    &.comDropdown--hover {
        &:hover {
            .comDropdown__content {
                visibility: visible;
                opacity: 1;
            }
        }
        .comDropdown__content {
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
        }
    }
    .comDropdown__content {
        top: var(--dropdown-top, 101%);
        left: var(--dropdown-left, 0);
        width: fit-content;
        min-width: 10rem;
        background-color: var(--bg-color);
        color: var(--text-color);
        border-radius: var(--border-radius);
        border: var(--border-color) 1px solid;
        box-shadow: var(--shadow);
        @apply py-5 px-3;
    }
}
