@font-face {
    font-family: 'modable';
    src: url('fonts/modable.eot');
    src: url('fonts/modable.eot#iefix') format('embedded-opentype'),
    url('fonts/modable.ttf') format('truetype'),
    url('fonts/modable.woff') format('woff'),
    url('fonts/modable.svg#modable') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'modable', serif !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-accessibility:before {
    content: "\e900";
}
.icon-activity:before {
    content: "\e901";
}
.icon-add:before {
    content: "\e902";
}
.icon-add-circle:before {
    content: "\e903";
}
.icon-airplane:before {
    content: "\e904";
}
.icon-alarm:before {
    content: "\e905";
}
.icon-albums:before {
    content: "\e906";
}
.icon-alert:before {
    content: "\e907";
}
.icon-alert-circle:before {
    content: "\e908";
}
.icon-american-football:before {
    content: "\e909";
}
.icon-analytics:before {
    content: "\e90a";
}
.icon-apartment:before {
    content: "\e90b";
}
.icon-aperture:before {
    content: "\e90c";
}
.icon-apps:before {
    content: "\e90d";
}
.icon-archive:before {
    content: "\e90e";
}
.icon-arrow-down:before {
    content: "\e90f";
}
.icon-arrow-down-circle:before {
    content: "\e910";
}
.icon-arrow-down-left-box:before {
    content: "\e911";
}
.icon-arrow-down-right-box:before {
    content: "\e912";
}
.icon-arrow-left:before {
    content: "\e913";
}
.icon-arrow-left-circle:before {
    content: "\e914";
}
.icon-arrow-redo:before {
    content: "\e915";
}
.icon-arrow-redo-circle:before {
    content: "\e916";
}
.icon-arrow-right:before {
    content: "\e917";
}
.icon-arrow-right-circle:before {
    content: "\e918";
}
.icon-arrow-undo:before {
    content: "\e919";
}
.icon-arrow-undo-circle:before {
    content: "\e91a";
}
.icon-arrow-up:before {
    content: "\e91b";
}
.icon-arrow-up-circle:before {
    content: "\e91c";
}
.icon-arrow-up-left-box:before {
    content: "\e91d";
}
.icon-arrow-up-right-box:before {
    content: "\e91e";
}
.icon-at:before {
    content: "\e91f";
}
.icon-at-circle:before {
    content: "\e920";
}
.icon-attach:before {
    content: "\e921";
}
.icon-backspace:before {
    content: "\e922";
}
.icon-bag:before {
    content: "\e923";
}
.icon-bag-add:before {
    content: "\e924";
}
.icon-bag-check:before {
    content: "\e925";
}
.icon-bag-handle:before {
    content: "\e926";
}
.icon-bag-remove:before {
    content: "\e927";
}
.icon-balloon:before {
    content: "\e928";
}
.icon-ban:before {
    content: "\e929";
}
.icon-bandage:before {
    content: "\e92a";
}
.icon-barbell:before {
    content: "\e92b";
}
.icon-bar-chart:before {
    content: "\e92c";
}
.icon-barcode:before {
    content: "\e92d";
}
.icon-baseball:before {
    content: "\e92e";
}
.icon-basket:before {
    content: "\e92f";
}
.icon-basketball:before {
    content: "\e930";
}
.icon-battery-charging:before {
    content: "\e931";
}
.icon-battery-dead:before {
    content: "\e932";
}
.icon-battery-full:before {
    content: "\e933";
}
.icon-battery-half:before {
    content: "\e934";
}
.icon-beaker:before {
    content: "\e935";
}
.icon-bed:before {
    content: "\e936";
}
.icon-beer:before {
    content: "\e937";
}
.icon-bell:before {
    content: "\e938";
}
.icon-bicycle:before {
    content: "\e939";
}
.icon-binoculars:before {
    content: "\e93a";
}
.icon-bluetooth:before {
    content: "\e93b";
}
.icon-boat:before {
    content: "\e93c";
}
.icon-body:before {
    content: "\e93d";
}
.icon-bold:before {
    content: "\e93e";
}
.icon-bonfire:before {
    content: "\e93f";
}
.icon-book:before {
    content: "\e940";
}
.icon-bookmark:before {
    content: "\e941";
}
.icon-bookmarks:before {
    content: "\e942";
}
.icon-bowling-ball:before {
    content: "\e943";
}
.icon-briefcase:before {
    content: "\e944";
}
.icon-browsers:before {
    content: "\e945";
}
.icon-brush:before {
    content: "\e946";
}
.icon-bubble:before {
    content: "\e947";
}
.icon-bug:before {
    content: "\e948";
}
.icon-build:before {
    content: "\e949";
}
.icon-bulb:before {
    content: "\e94a";
}
.icon-bullhorn:before {
    content: "\e94b";
}
.icon-bus:before {
    content: "\e94c";
}
.icon-business:before {
    content: "\e94d";
}
.icon-cafe:before {
    content: "\e94e";
}
.icon-calculator:before {
    content: "\e94f";
}
.icon-calendar:before {
    content: "\e950";
}
.icon-calendar-clear:before {
    content: "\e951";
}
.icon-calendar-full:before {
    content: "\e952";
}
.icon-calendar-number:before {
    content: "\e953";
}
.icon-call:before {
    content: "\e954";
}
.icon-camera:before {
    content: "\e955";
}
.icon-camera-reverse:before {
    content: "\e956";
}
.icon-camera-video:before {
    content: "\e957";
}
.icon-car:before {
    content: "\e958";
}
.icon-card:before {
    content: "\e959";
}
.icon-caret-back:before {
    content: "\e95a";
}
.icon-caret-back-circle:before {
    content: "\e95b";
}
.icon-caret-down:before {
    content: "\e95c";
}
.icon-caret-down-circle:before {
    content: "\e95d";
}
.icon-caret-forward:before {
    content: "\e95e";
}
.icon-caret-forward-circle:before {
    content: "\e95f";
}
.icon-caret-up:before {
    content: "\e960";
}
.icon-caret-up-circle:before {
    content: "\e961";
}
.icon-car-sport:before {
    content: "\e962";
}
.icon-cart:before {
    content: "\e963";
}
.icon-cash:before {
    content: "\e964";
}
.icon-cellular:before {
    content: "\e965";
}
.icon-chart-bars:before {
    content: "\e966";
}
.icon-chatbox:before {
    content: "\e967";
}
.icon-chatbox-ellipses:before {
    content: "\e968";
}
.icon-chatbubble:before {
    content: "\e969";
}
.icon-chatbubble-ellipses:before {
    content: "\e96a";
}
.icon-chatbubbles:before {
    content: "\e96b";
}
.icon-check:before {
    content: "\e96c";
}
.icon-checkbox:before {
    content: "\e96d";
}
.icon-checkbox-checked:before {
    content: "\e96e";
}
.icon-checkmark-circle:before {
    content: "\e96f";
}
.icon-checkmark-done:before {
    content: "\e970";
}
.icon-checkmark-done-circle:before {
    content: "\e971";
}
.icon-chevron-collapse:before {
    content: "\e972";
}
.icon-chevron-down:before {
    content: "\e973";
}
.icon-chevron-down-circle:before {
    content: "\e974";
}
.icon-chevron-expand:before {
    content: "\e975";
}
.icon-chevron-left:before {
    content: "\e976";
}
.icon-chevron-left-circle:before {
    content: "\e977";
}
.icon-chevron-right:before {
    content: "\e978";
}
.icon-chevron-right-circle:before {
    content: "\e979";
}
.icon-chevron-up:before {
    content: "\e97a";
}
.icon-chevron-up-circle:before {
    content: "\e97b";
}
.icon-circle-minus:before {
    content: "\e97c";
}
.icon-clipboard:before {
    content: "\e97d";
}
.icon-clock:before {
    content: "\e97e";
}
.icon-close:before {
    content: "\e97f";
}
.icon-close-circle:before {
    content: "\e980";
}
.icon-cloud:before {
    content: "\e981";
}
.icon-cloud-check:before {
    content: "\e982";
}
.icon-cloud-circle:before {
    content: "\e983";
}
.icon-cloud-done:before {
    content: "\e984";
}
.icon-cloud-download:before {
    content: "\e985";
}
.icon-cloud-offline:before {
    content: "\e986";
}
.icon-cloud-sync:before {
    content: "\e987";
}
.icon-cloud-upload:before {
    content: "\e988";
}
.icon-cloudy:before {
    content: "\e989";
}
.icon-cloudy-night:before {
    content: "\e98a";
}
.icon-code:before {
    content: "\e98b";
}
.icon-code-download:before {
    content: "\e98c";
}
.icon-code-slash:before {
    content: "\e98d";
}
.icon-code-working:before {
    content: "\e98e";
}
.icon-coffee-cup:before {
    content: "\e98f";
}
.icon-cog:before {
    content: "\e990";
}
.icon-cog-2:before {
    content: "\e991";
}
.icon-color-fill:before {
    content: "\e992";
}
.icon-color-filter:before {
    content: "\e993";
}
.icon-color-palette:before {
    content: "\e994";
}
.icon-color-wand:before {
    content: "\e995";
}
.icon-compass:before {
    content: "\e996";
}
.icon-construct:before {
    content: "\e997";
}
.icon-construction:before {
    content: "\e998";
}
.icon-contract:before {
    content: "\e999";
}
.icon-contrast:before {
    content: "\e99a";
}
.icon-copy:before {
    content: "\e99b";
}
.icon-create:before {
    content: "\e99c";
}
.icon-crop:before {
    content: "\e99d";
}
.icon-cross:before {
    content: "\e99e";
}
.icon-cross-circle:before {
    content: "\e99f";
}
.icon-cube:before {
    content: "\e9a0";
}
.icon-cut:before {
    content: "\e9a1";
}
.icon-database:before {
    content: "\e9a2";
}
.icon-desktop:before {
    content: "\e9a3";
}
.icon-diamond:before {
    content: "\e9a4";
}
.icon-dice:before {
    content: "\e9a5";
}
.icon-dinner:before {
    content: "\e9a6";
}
.icon-direction-ltr:before {
    content: "\e9a7";
}
.icon-direction-rtl:before {
    content: "\e9a8";
}
.icon-disc:before {
    content: "\e9a9";
}
.icon-document:before {
    content: "\e9aa";
}
.icon-document-attach:before {
    content: "\e9ab";
}
.icon-document-lock:before {
    content: "\e9ac";
}
.icon-documents:before {
    content: "\e9ad";
}
.icon-document-text:before {
    content: "\e9ae";
}
.icon-dots-vertical:before {
    content: "\e9af";
}
.icon-download:before {
    content: "\e9b0";
}
.icon-download-cloud:before {
    content: "\e9b1";
}
.icon-drop:before {
    content: "\e9b2";
}
.icon-duplicate:before {
    content: "\e9b3";
}
.icon-ear:before {
    content: "\e9b4";
}
.icon-earth:before {
    content: "\e9b5";
}
.icon-easel:before {
    content: "\e9b6";
}
.icon-edit:before {
    content: "\e9b7";
}
.icon-edit-2:before {
    content: "\e9b8";
}
.icon-egg:before {
    content: "\e9b9";
}
.icon-ekantan:before {
    content: "\e9ba";
    color: #fff;
}
.icon-ellipse:before {
    content: "\e9bb";
}
.icon-ellipsis-horizontal:before {
    content: "\e9bc";
}
.icon-ellipsis-horizontal-circle:before {
    content: "\e9bd";
}
.icon-ellipsis-vertical:before {
    content: "\e9be";
}
.icon-ellipsis-vertical-circle:before {
    content: "\e9bf";
}
.icon-enter:before {
    content: "\e9c0";
}
.icon-enter-down:before {
    content: "\e9c1";
}
.icon-envelope:before {
    content: "\e9c2";
}
.icon-exit:before {
    content: "\e9c3";
}
.icon-exit-up:before {
    content: "\e9c4";
}
.icon-expand:before {
    content: "\e9c5";
}
.icon-extension-puzzle:before {
    content: "\e9c6";
}
.icon-eye:before {
    content: "\e9c7";
}
.icon-eyedrop:before {
    content: "\e9c8";
}
.icon-eye-off:before {
    content: "\e9c9";
}
.icon-fast-food:before {
    content: "\e9ca";
}
.icon-female:before {
    content: "\e9cb";
}
.icon-file-add:before {
    content: "\e9cc";
}
.icon-file-empty:before {
    content: "\e9cd";
}
.icon-file-tray:before {
    content: "\e9ce";
}
.icon-file-tray-full:before {
    content: "\e9cf";
}
.icon-file-tray-stacked:before {
    content: "\e9d0";
}
.icon-film:before {
    content: "\e9d1";
}
.icon-film-play:before {
    content: "\e9d2";
}
.icon-filter:before {
    content: "\e9d3";
}
.icon-filter-circle:before {
    content: "\e9d4";
}
.icon-filter-lines:before {
    content: "\e9d5";
}
.icon-finger-print:before {
    content: "\e9d6";
}
.icon-fish:before {
    content: "\e9d7";
}
.icon-fitness:before {
    content: "\e9d8";
}
.icon-flag:before {
    content: "\e9d9";
}
.icon-flame:before {
    content: "\e9da";
}
.icon-flash:before {
    content: "\e9db";
}
.icon-flashlight:before {
    content: "\e9dc";
}
.icon-flash-off:before {
    content: "\e9dd";
}
.icon-flask:before {
    content: "\e9de";
}
.icon-flower:before {
    content: "\e9df";
}
.icon-folder:before {
    content: "\e9e0";
}
.icon-folder-open:before {
    content: "\e9e1";
}
.icon-football:before {
    content: "\e9e2";
}
.icon-footsteps:before {
    content: "\e9e3";
}
.icon-frame-contract:before {
    content: "\e9e4";
}
.icon-frame-expand:before {
    content: "\e9e5";
}
.icon-funnel:before {
    content: "\e9e6";
}
.icon-game-controller:before {
    content: "\e9e7";
}
.icon-gift:before {
    content: "\e9e8";
}
.icon-git-branch:before {
    content: "\e9e9";
}
.icon-git-commit:before {
    content: "\e9ea";
}
.icon-git-compare:before {
    content: "\e9eb";
}
.icon-git-merge:before {
    content: "\e9ec";
}
.icon-git-network:before {
    content: "\e9ed";
}
.icon-git-pull-request:before {
    content: "\e9ee";
}
.icon-glasses:before {
    content: "\e9ef";
}
.icon-globe:before {
    content: "\e9f0";
}
.icon-golf:before {
    content: "\e9f1";
}
.icon-graduation-hat:before {
    content: "\e9f2";
}
.icon-grid:before {
    content: "\e9f3";
}
.icon-hammer:before {
    content: "\e9f4";
}
.icon-hand:before {
    content: "\e9f5";
}
.icon-hand-left:before {
    content: "\e9f6";
}
.icon-hand-right:before {
    content: "\e9f7";
}
.icon-happy:before {
    content: "\e9f8";
}
.icon-hardware-chip:before {
    content: "\e9f9";
}
.icon-headset:before {
    content: "\e9fa";
}
.icon-heart:before {
    content: "\e9fb";
}
.icon-heart-circle:before {
    content: "\e9fc";
}
.icon-heart-dislike:before {
    content: "\e9fd";
}
.icon-heart-dislike-circle:before {
    content: "\e9fe";
}
.icon-heart-half:before {
    content: "\e9ff";
}
.icon-heart-pulse:before {
    content: "\ea00";
}
.icon-help:before {
    content: "\ea01";
}
.icon-help-buoy:before {
    content: "\ea02";
}
.icon-help-circle:before {
    content: "\ea03";
}
.icon-highlight:before {
    content: "\ea04";
}
.icon-history:before {
    content: "\ea05";
}
.icon-home:before {
    content: "\ea06";
}
.icon-hourglass:before {
    content: "\ea07";
}
.icon-ice-cream:before {
    content: "\ea08";
}
.icon-id-card:before {
    content: "\ea09";
}
.icon-image:before {
    content: "\ea0a";
}
.icon-images:before {
    content: "\ea0b";
}
.icon-inbox:before {
    content: "\ea0c";
}
.icon-indent-decrease:before {
    content: "\ea0d";
}
.icon-indent-increase:before {
    content: "\ea0e";
}
.icon-infinite:before {
    content: "\ea0f";
}
.icon-infinity:before {
    content: "\ea10";
}
.icon-info-circle:before {
    content: "\ea11";
}
.icon-information:before {
    content: "\ea12";
}
.icon-information-circle:before {
    content: "\ea13";
}
.icon-invert-mode:before {
    content: "\ea14";
}
.icon-italic:before {
    content: "\ea15";
}
.icon-journal:before {
    content: "\ea16";
}
.icon-key:before {
    content: "\ea17";
}
.icon-keyboard:before {
    content: "\ea18";
}
.icon-keypad:before {
    content: "\ea19";
}
.icon-language:before {
    content: "\ea1a";
}
.icon-laptop:before {
    content: "\ea1b";
}
.icon-laptop-phone:before {
    content: "\ea1c";
}
.icon-layer:before {
    content: "\ea1d";
}
.icon-layer-group:before {
    content: "\ea1e";
}
.icon-layers:before {
    content: "\ea1f";
}
.icon-leaf:before {
    content: "\ea20";
}
.icon-library:before {
    content: "\ea21";
}
.icon-license:before {
    content: "\ea22";
}
.icon-lighter:before {
    content: "\ea23";
}
.icon-lightning:before {
    content: "\ea24";
}
.icon-linearicons:before {
    content: "\ea25";
}
.icon-line-spacing:before {
    content: "\ea26";
}
.icon-link:before {
    content: "\ea27";
}
.icon-list:before {
    content: "\ea28";
}
.icon-list-circle:before {
    content: "\ea29";
}
.icon-loading:before {
    content: "\ea2a";
}
.icon-locate:before {
    content: "\ea2b";
}
.icon-location:before {
    content: "\ea2c";
}
.icon-lock:before {
    content: "\ea2d";
}
.icon-lock-closed:before {
    content: "\ea2e";
}
.icon-lock-open:before {
    content: "\ea2f";
}
.icon-login:before {
    content: "\ea30";
}
.icon-logout:before {
    content: "\ea31";
}
.icon-magic-wand:before {
    content: "\ea32";
}
.icon-magnet:before {
    content: "\ea33";
}
.icon-magnifier:before {
    content: "\ea34";
}
.icon-mail:before {
    content: "\ea35";
}
.icon-mail-open:before {
    content: "\ea36";
}
.icon-mail-unread:before {
    content: "\ea37";
}
.icon-male:before {
    content: "\ea38";
}
.icon-male-female:before {
    content: "\ea39";
}
.icon-man:before {
    content: "\ea3a";
}
.icon-map:before {
    content: "\ea3b";
}
.icon-map-marker:before {
    content: "\ea3c";
}
.icon-medal:before {
    content: "\ea3d";
}
.icon-medical:before {
    content: "\ea3e";
}
.icon-medkit:before {
    content: "\ea3f";
}
.icon-megaphone:before {
    content: "\ea40";
}
.icon-menu:before {
    content: "\ea41";
}
.icon-menu-circle:before {
    content: "\ea42";
}
.icon-mic:before {
    content: "\ea43";
}
.icon-mic-circle:before {
    content: "\ea44";
}
.icon-mic-off:before {
    content: "\ea45";
}
.icon-mic-off-circle:before {
    content: "\ea46";
}
.icon-moon:before {
    content: "\ea47";
}
.icon-move:before {
    content: "\ea48";
}
.icon-musical-note:before {
    content: "\ea49";
}
.icon-musical-notes:before {
    content: "\ea4a";
}
.icon-music-note:before {
    content: "\ea4b";
}
.icon-mustache:before {
    content: "\ea4c";
}
.icon-navigate:before {
    content: "\ea4d";
}
.icon-navigate-circle:before {
    content: "\ea4e";
}
.icon-neutral:before {
    content: "\ea4f";
}
.icon-newspaper:before {
    content: "\ea50";
}
.icon-notifications:before {
    content: "\ea51";
}
.icon-notifications-circle:before {
    content: "\ea52";
}
.icon-notifications-off:before {
    content: "\ea53";
}
.icon-notifications-off-circle:before {
    content: "\ea54";
}
.icon-nuclear:before {
    content: "\ea55";
}
.icon-nutrition:before {
    content: "\ea56";
}
.icon-open:before {
    content: "\ea57";
}
.icon-options:before {
    content: "\ea58";
}
.icon-page-break:before {
    content: "\ea59";
}
.icon-paperclip:before {
    content: "\ea5a";
}
.icon-paper-plane:before {
    content: "\ea5b";
}
.icon-partly-sunny:before {
    content: "\ea5c";
}
.icon-pause:before {
    content: "\ea5d";
}
.icon-pause-circle:before {
    content: "\ea5e";
}
.icon-paw:before {
    content: "\ea5f";
}
.icon-pencil:before {
    content: "\ea60";
}
.icon-people:before {
    content: "\ea61";
}
.icon-people-circle:before {
    content: "\ea62";
}
.icon-person:before {
    content: "\ea63";
}
.icon-person-add:before {
    content: "\ea64";
}
.icon-person-circle:before {
    content: "\ea65";
}
.icon-person-remove:before {
    content: "\ea66";
}
.icon-phone:before {
    content: "\ea67";
}
.icon-phone-handset:before {
    content: "\ea68";
}
.icon-phone-landscape:before {
    content: "\ea69";
}
.icon-phone-portrait:before {
    content: "\ea6a";
}
.icon-picture:before {
    content: "\ea6b";
}
.icon-pie-chart:before {
    content: "\ea6c";
}
.icon-pilcrow:before {
    content: "\ea6d";
}
.icon-pin:before {
    content: "\ea6e";
}
.icon-pint:before {
    content: "\ea6f";
}
.icon-pizza:before {
    content: "\ea70";
}
.icon-planet:before {
    content: "\ea71";
}
.icon-play:before {
    content: "\ea72";
}
.icon-play-back:before {
    content: "\ea73";
}
.icon-play-back-circle:before {
    content: "\ea74";
}
.icon-play-circle:before {
    content: "\ea75";
}
.icon-play-forward:before {
    content: "\ea76";
}
.icon-play-forward-circle:before {
    content: "\ea77";
}
.icon-play-skip-back:before {
    content: "\ea78";
}
.icon-play-skip-back-circle:before {
    content: "\ea79";
}
.icon-play-skip-forward:before {
    content: "\ea7a";
}
.icon-play-skip-forward-circle:before {
    content: "\ea7b";
}
.icon-plus-circle:before {
    content: "\ea7c";
}
.icon-podium:before {
    content: "\ea7d";
}
.icon-pointer-down:before {
    content: "\ea7e";
}
.icon-pointer-left:before {
    content: "\ea7f";
}
.icon-pointer-right:before {
    content: "\ea80";
}
.icon-pointer-up:before {
    content: "\ea81";
}
.icon-poop:before {
    content: "\ea82";
}
.icon-power:before {
    content: "\ea83";
}
.icon-power-switch:before {
    content: "\ea84";
}
.icon-pricetag:before {
    content: "\ea85";
}
.icon-pricetags:before {
    content: "\ea86";
}
.icon-print:before {
    content: "\ea87";
}
.icon-printer:before {
    content: "\ea88";
}
.icon-prism:before {
    content: "\ea89";
}
.icon-pulse:before {
    content: "\ea8a";
}
.icon-push:before {
    content: "\ea8b";
}
.icon-pushpin:before {
    content: "\ea8c";
}
.icon-qr-code:before {
    content: "\ea8d";
}
.icon-radio:before {
    content: "\ea8f";
}
.icon-radio-box-checked:before {
    content: "\ea90";
}
.icon-radio-button-off:before {
    content: "\ea91";
}
.icon-radio-button-on:before {
    content: "\ea92";
}
.icon-rainy:before {
    content: "\ea93";
}
.icon-reader:before {
    content: "\ea94";
}
.icon-receipt:before {
    content: "\ea95";
}
.icon-recording:before {
    content: "\ea96";
}
.icon-redo:before {
    content: "\ea97";
}
.icon-refresh:before {
    content: "\ea98";
}
.icon-refresh-circle:before {
    content: "\ea99";
}
.icon-reload:before {
    content: "\ea9a";
}
.icon-reload-circle:before {
    content: "\ea9b";
}
.icon-remove:before {
    content: "\ea9c";
}
.icon-remove-circle:before {
    content: "\ea9d";
}
.icon-reorder-four:before {
    content: "\ea9e";
}
.icon-reorder-three:before {
    content: "\ea9f";
}
.icon-reorder-two:before {
    content: "\eaa0";
}
.icon-repeat:before {
    content: "\eaa1";
}
.icon-resize:before {
    content: "\eaa2";
}
.icon-restaurant:before {
    content: "\eaa3";
}
.icon-return-down-back:before {
    content: "\eaa4";
}
.icon-return-down-forward:before {
    content: "\eaa5";
}
.icon-return-up-back:before {
    content: "\eaa6";
}
.icon-return-up-forward:before {
    content: "\eaa7";
}
.icon-ribbon:before {
    content: "\eaa8";
}
.icon-rocket:before {
    content: "\eaa9";
}
.icon-rose:before {
    content: "\eaaa";
}
.icon-sad:before {
    content: "\eaab";
}
.icon-save:before {
    content: "\eaac";
}
.icon-scale:before {
    content: "\eaad";
}
.icon-scan:before {
    content: "\eaae";
}
.icon-scan-circle:before {
    content: "\eaaf";
}
.icon-school:before {
    content: "\eab0";
}
.icon-screen:before {
    content: "\eab1";
}
.icon-search:before {
    content: "\eab2";
}
.icon-search-circle:before {
    content: "\eab3";
}
.icon-select:before {
    content: "\eab4";
}
.icon-send:before {
    content: "\eab5";
}
.icon-server:before {
    content: "\eab6";
}
.icon-setting:before {
    content: "\eab7";
}
.icon-settings:before {
    content: "\eab8";
}
.icon-shapes:before {
    content: "\eab9";
}
.icon-share:before {
    content: "\eaba";
}
.icon-share-social:before {
    content: "\eabb";
}
.icon-shield:before {
    content: "\eabc";
}
.icon-shield-checkmark:before {
    content: "\eabd";
}
.icon-shield-half:before {
    content: "\eabe";
}
.icon-shirt:before {
    content: "\eabf";
}
.icon-shuffle:before {
    content: "\eac0";
}
.icon-skull:before {
    content: "\eac1";
}
.icon-smartphone:before {
    content: "\eac2";
}
.icon-smile:before {
    content: "\eac3";
}
.icon-snow:before {
    content: "\eac4";
}
.icon-sort-alpha-asc:before {
    content: "\eac5";
}
.icon-sort-amount-asc:before {
    content: "\eac6";
}
.icon-sparkles:before {
    content: "\eac7";
}
.icon-speedometer:before {
    content: "\eac8";
}
.icon-spell-check:before {
    content: "\eac9";
}
.icon-square:before {
    content: "\eaca";
}
.icon-star:before {
    content: "\eacb";
}
.icon-star-empty:before {
    content: "\eacc";
}
.icon-star-half:before {
    content: "\eacd";
}
.icon-stats-chart:before {
    content: "\eace";
}
.icon-stop:before {
    content: "\eacf";
}
.icon-stop-circle:before {
    content: "\ead0";
}
.icon-stopwatch:before {
    content: "\ead1";
}
.icon-store:before {
    content: "\ead2";
}
.icon-storefront:before {
    content: "\ead3";
}
.icon-strikethrough:before {
    content: "\ead4";
}
.icon-subway:before {
    content: "\ead5";
}
.icon-sun:before {
    content: "\ead6";
}
.icon-sunny:before {
    content: "\ead7";
}
.icon-switch-horizontal:before {
    content: "\ead8";
}
.icon-switch-vertical:before {
    content: "\ead9";
}
.icon-sync:before {
    content: "\eada";
}
.icon-sync-circle:before {
    content: "\eadb";
}
.icon-tablet:before {
    content: "\eadc";
}
.icon-tablet-landscape:before {
    content: "\eadd";
}
.icon-tablet-portrait:before {
    content: "\eade";
}
.icon-tag:before {
    content: "\eadf";
}
.icon-telescope:before {
    content: "\eae0";
}
.icon-tennisball:before {
    content: "\eae1";
}
.icon-terminal:before {
    content: "\eae2";
}
.icon-text:before {
    content: "\eae3";
}
.icon-text-align-center:before {
    content: "\eae4";
}
.icon-text-align-justify:before {
    content: "\eae5";
}
.icon-text-align-left:before {
    content: "\eae6";
}
.icon-text-align-right:before {
    content: "\eae7";
}
.icon-text-format:before {
    content: "\eae8";
}
.icon-text-format-remove:before {
    content: "\eae9";
}
.icon-text-size:before {
    content: "\eaea";
}
.icon-theme:before {
    content: "\eaeb";
}
.icon-thermometer:before {
    content: "\eaec";
}
.icon-thumbs-down:before {
    content: "\eaed";
}
.icon-thumbs-up:before {
    content: "\eaee";
}
.icon-thunderstorm:before {
    content: "\eaef";
}
.icon-ticket:before {
    content: "\eaf0";
}
.icon-time:before {
    content: "\eaf1";
}
.icon-timer:before {
    content: "\eaf2";
}
.icon-today:before {
    content: "\eaf3";
}
.icon-toggle:before {
    content: "\eaf4";
}
.icon-trail-sign:before {
    content: "\eaf6";
}
.icon-train:before {
    content: "\eaf7";
}
.icon-transgender:before {
    content: "\eaf8";
}
.icon-translate:before {
    content: "\eaf9";
}
.icon-trash:before {
    content: "\eafa";
}
.icon-trash-bin:before {
    content: "\eafb";
}
.icon-trending-down:before {
    content: "\eafc";
}
.icon-trending-up:before {
    content: "\eafd";
}
.icon-triangle:before {
    content: "\eafe";
}
.icon-trophy:before {
    content: "\eaff";
}
.icon-tv:before {
    content: "\eb00";
}
.icon-umbrella:before {
    content: "\eb01";
}
.icon-underline:before {
    content: "\eb02";
}
.icon-undo:before {
    content: "\eb03";
}
.icon-unlink:before {
    content: "\eb04";
}
.icon-upload:before {
    content: "\eb05";
}
.icon-user:before {
    content: "\eb06";
}
.icon-users:before {
    content: "\eb07";
}
.icon-videocam:before {
    content: "\eb08";
}
.icon-videocam-off:before {
    content: "\eb09";
}
.icon-volume:before {
    content: "\eb0a";
}
.icon-volume-high:before {
    content: "\eb0b";
}
.icon-volume-low:before {
    content: "\eb0c";
}
.icon-volume-medium:before {
    content: "\eb0d";
}
.icon-volume-mute:before {
    content: "\eb0e";
}
.icon-volume-off:before {
    content: "\eb0f";
}
.icon-walk:before {
    content: "\eb10";
}
.icon-wallet:before {
    content: "\eb11";
}
.icon-warning:before {
    content: "\eb12";
}
.icon-watch:before {
    content: "\eb13";
}
.icon-water:before {
    content: "\eb14";
}
.icon-wheelchair:before {
    content: "\eb15";
}
.icon-wifi:before {
    content: "\eb16";
}
.icon-wine:before {
    content: "\eb17";
}
.icon-woman:before {
    content: "\eb18";
}
.icon-x-close:before {
    content: "\eb19";
}
