.comImagePreviewer {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    @apply flex justify-center items-center p-2;

    i {
        color: var(--color-gray-400);
        font-size: calc(var(--font-size-3) + 1.5rem);
    }
}
