.modable {
    color: var(--text-color);
    @apply m-0 p-0 flex;
    .activeBg {
        color: var(--color-white) !important;
        background-color: var(--theme-color);
    }
    .activeColor {
        color: var(--theme-color);
    }
    .sidebar {
        @apply p-5 fixed left-0 top-0;
        width: var(--sidebar-width);
        z-index: 2;
        height: 100vh;
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--sidebar-bg-color);
        border-right: 1px solid var(--sidebar-border-color);
        font-size: var(--font-size);

        .sidebar__header {
            color: var(--color-white);
            @apply flex items-center gap-2;
            .sidebar__header__logo {
                @apply flex justify-center items-center font-bold;
                font-size: 2rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--theme-color);
            }
            .sidebar__header__name {
                color: var(--sidebar-logo-color);
                font-size: calc(var(--font-size) + 0.5rem);
            }
        }
        .sidebar__organization {
            padding: 2rem 0;
        }
        .sidebar__menu {
            @apply flex flex-col gap-1;

            .sidebar__menu__heading {
                @apply font-bold;
                padding: 2rem 1rem 0.5rem;
            }
            .sidebar__menu__item {
                @apply flex items-center gap-3;
                width: calc(var(--sidebar-width) - 2rem);
                transition: all ease 0.3s;
                padding: 0.8rem 1rem;
                border-radius: var(--border-radius);
                cursor: pointer;
                span {
                    display: inline-block;
                    width: 14rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                i {
                    font-size: calc(var(--font-size) + 0.1rem);
                }
                &:hover {
                    color: var(--sidebar-hover-color);
                    background-color: var(--hover-bg-color);
                }
            }
        }
    }
    .notibar {
        @apply p-5 fixed right-0 top-0;
        transition: all 0.3s ease;
        width: var(--notibar-width);
        z-index: 2;
        height: 100vh;
        min-height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: var(--sidebar-bg-color);
        border-left: 1px solid var(--sidebar-border-color);
        font-size: var(--font-size);
        box-shadow: var(--shadow);
        .notibar__header {
            @apply flex items-center justify-between gap-2 mb-5;
            .notibar__header__name {
                color: var(--sidebar-logo-color);
                font-size: calc(var(--font-size) + 0.5rem);
            }
            .notibar__header__icon {
                @apply cursor-pointer;
                font-size: calc(var(--font-size) + 0.5rem);
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
        .notibar__content {
            @apply flex flex-col gap-2 pt-5;
            max-height: calc(100vh - 10rem);
            overflow: auto;
        }
    }
    .navbar {
        background-color: var(--navbar-bg-color);
        width: 100%;
        height: var(--navbar-height);
        z-index: 1;
        box-shadow: var(--shadow);
        @apply flex justify-end items-center gap-5 p-5 fixed top-0 left-0 right-0;
        .navbar__item {
            transition: all ease 0.3s;
            @apply flex justify-center items-center cursor-pointer gap-1;
            &:hover {
                color: var(--theme-color);
            }
            > i {
                font-size: 1.5rem;
            }
        }
    }
    .avatar {
        @apply flex justify-center items-center font-bold uppercase;
        width: 3rem;
        height: 3rem;
        min-height: 3rem;
        min-width: 3rem;
        border-radius: 50%;
        background-color: var(--theme-color);
        border: 1px solid var(--border-color);
        color: var(--color-white);
        box-shadow: var(--shadow);
        font-size: 1.5rem !important;
        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .modal {
        width: 100vw;
        max-height: 100vh;
        min-height: 100vh;
        background-color: var(--bg-color);
        padding: 2rem;
        overflow: auto;
    }
    .main {
        width: 100%;
        height: fit-content;
        min-height: 100vh;
        background-color: var(--bg-color);
        .content {
            padding: calc(var(--navbar-height) + 2rem) 2rem calc(var(--navbar-height) + 2rem) calc(var(--sidebar-width) + 2rem);
        }
    }
    .dropdownMenu {
        @apply flex flex-col gap-1;
        .dropdownMenu__item {
            @apply flex items-center gap-3;
            transition: all ease 0.3s;
            padding: 0.5rem 1rem;
            font-size: var(--font-size);
            border-radius: var(--border-radius);
            cursor: pointer;
            &:hover {
                background-color: var(--hover-bg-color);
            }
        }
    }
    .heading {
        color: var(--text-color-3);
        font-size: var(--font-size-2);
        text-transform: uppercase;
    }

    .card {
        @apply w-full shadow-md;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);

        .card__header {
            @apply flex items-center gap-2 py-2 px-5;
            font-size: var(--font-size-2);
            background-color: var(--card-header-bg-color);
            border-bottom: 1px solid var(--border-color);
            color: var(--text-color-2);
            border-radius: var(--border-radius) var(--border-radius) 0 0;
        }
        .card__body {
            @apply p-5;
            background-color: var(--card-bg-color);
            line-height: 2rem;
            border-radius: 0 0 var(--border-radius) var(--border-radius);
        }
    }
    .form {
        &.form--vertical {
            .form__section {
                @apply flex flex-col;
            }
        }
        &.form--horizontal {
            .form__section {
                @apply flex flex-nowrap;
            }
            .form__item {
                > label {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
        .form__heading {
            @apply my-5;
            color: var(--text-color-2);
            font-size: var(--font-size-2);
        }
        .form__section {
            background-color: var(--form-bg-color);
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
            border: 1px solid var(--border-color);
            @apply p-8 flex flex-wrap gap-5;
            .comButton {
                width: fit-content;
            }
        }

        .form__item {
            @apply flex flex-col gap-2;
            > label {
                color: var(--text-color-2);
            }
        }
        .form__action {
            @apply flex flex-wrap justify-center items-center gap-5 my-5;
            .comButton {
                min-width: 8rem;
            }
        }
    }
    .imageUploader {
        position: relative;

        .imageUploader__mark--select, .imageUploader__mark--uploading {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            color: var(--color-white);
            background-color: rgba(0, 0, 0, 0.6);
            border: 1px solid var(--color-white);
            @apply flex justify-center items-center rounded-full;
        }

        .imageUploader__mark--select {
            opacity: 0;
            cursor: pointer;
        }

        .avatar {
            width: 10rem;
            height: 10rem;
            font-size: 5rem !important;
        }

        &:hover {
            .imageUploader__mark--select {
                opacity: 1;
            }
        }
    }
    .notification {
        @apply w-full shadow-md flex flex-col gap-2 items-center p-3 mb-3;
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);

        .notification__content {
            width: 100%;
            color: var(--text-color-2);
        }
        .notification__footer {
            @apply flex justify-between items-center w-full;
            font-style: italic;
            color: var(--text-color);
            i {
                color: red;
                cursor: pointer;
                &:hover {
                    color: var(--theme-color);
                }
            }
        }
    }
    .listMenu {
        @apply flex flex-col gap-3 w-full;
        &.listMenu--grid {
            @apply flex-row flex-wrap justify-around;
            .listMenu__item {
                width: calc(50% - 1rem);
            }
        }
        .listMenu__item {
            @apply flex items-center gap-3 p-5;
            transition: all ease 0.3s;
            font-size: var(--list-menu-font-size);
            border-radius: var(--border-radius);
            cursor: pointer;
            background-color: var(--bg-color);
            color: var(--text-color-2);
            border: 1px solid var(--border-color);
            box-shadow: var(--shadow);

            &:hover {
                background-color: var(--theme-color);
            }
        }
    }
}

.modable--mobile {
    .sidebar {
        display: none;
    }
    .heading {
        width: fit-content;
        max-width: 10rem;
        font-size: var(--font-size);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .header {
        @apply flex justify-center items-center gap-2 fixed top-0 left-0 right-0;
        z-index: 3;
        height: 5rem;
        background-color: var(--sidebar-bg-color);
        border-bottom: 1px solid var(--border-color);

        .logo {
            @apply flex justify-center items-center gap-1;
            .logo__icon {
                @apply flex justify-center items-center font-bold;
                font-size: 2rem;
                width: 3rem;
                height: 3rem;
                border-radius: 50%;
                background-color: var(--theme-color);
                color: var(--color-white);
            }
            .logo__name {
                color: var(--sidebar-logo-color);
                font-size: calc(var(--font-size) + 0.5rem);
            }
        }
    }
    .main {
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding-top: 7rem;
        padding-bottom: 5rem;
        @apply px-5;
    }
    .navbar {
        border-top: 1px solid var(--border-color);
        background-color: var(--navbar-bg-color);
        color: var(--text-color);
        width: 100%;
        height: 4rem;
        top: unset;
        @apply flex justify-between items-center gap-5 p-5 fixed bottom-0 left-0 right-0;

        .navbar__item {
            transition: all ease 0.3s;
            width: 25%;
            @apply flex justify-center items-center cursor-pointer gap-1;
            &:hover {
                color: var(--theme-color);
            }
            > i {
                font-size: 1.5rem;
            }
        }
    }
    .form {
        .form__action {
            @apply justify-center;
        }
    }
}
