.comList {
    @apply flex flex-col gap-1;
    .comList__item {
        @apply flex items-center gap-3;
        transition: all ease 0.3s;
        padding: 0.5rem 1rem;
        font-size: var(--font-size);
        border-radius: var(--border-radius);
        border: 1px solid var(--border-color);
        color: var(--text-color);

        &:hover {
            background-color: var(--hover-bg-color);
        }

        &.clickable {
            cursor: pointer;
        }
    }
}
