.comModal {
    position: fixed;
    z-index: var(--modal-z-index);
    background: var(--modal-bg-color);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @apply transition-all;

    &.comModal--center {
        @apply flex justify-center items-center;
    }

    &.comModal--top-left {
        @apply flex justify-start items-start;
    }
    &.comModal--top-right {
        @apply flex justify-end items-start;
    }
    &.comModal--top-center {
        @apply flex justify-center items-start;
    }

    &.comModal--bot-center {
        @apply flex justify-center items-end;
    }
    &.comModal--bot-right {
        @apply flex justify-end items-end;
    }
    &.comModal--bot-left {
        @apply flex justify-start items-end;
    }

    &.comModal--transparent {
        background: transparent;
    }

    .comModal__content {
        width: fit-content;
        background: transparent;
    }
}
