.comNotification {
    border: 1px solid var(--border-color);
    background: var(--notication-bg-color);
    color: var(--text-color-3);
    box-shadow: var(--shadow);
    border-radius: var(--border-radius);
    @apply p-5;

    .comNotification__header {
        @apply flex justify-between items-center;
    }
    .comNotification__title {
        @apply flex justify-between items-center mb-2 text-xl gap-2;
        i::before {
            @apply text-xl;
        }
    }
    .comNotification__close {
        cursor: pointer;
        @apply pointer-events-auto;

        i::before {
            color: var(--color-gray-400);
        }
    }
    .comNotification__content {
        color: var(--color-gray-500);
    }
    &.comNotification--primary {
        .comNotification__title {
            color: var(--color-primary-500);
        }
        border-color: var(--color-primary-500);
    }
    &.comNotification--success {
        .comNotification__title {
            color: var(--color-success-500);
        }
        border-color: var(--color-success-500);
    }
    &.comNotification--warning {
        .comNotification__title {
            color: var(--color-warning-500);
        }
        border-color: var(--color-warning-500);
    }
    &.comNotification--danger {
        .comNotification__title {
            color: var(--color-danger-500);
        }
        border-color: var(--color-danger-500);
    }
}

.notificationProvider {
    @apply fixed inset-0 flex items-start justify-end px-4 py-6 sm:p-6 pointer-events-none;
    z-index: var(--notification-z-index);

    &.notificationProvider--top-left {
        @apply flex justify-start items-start;
    }
    &.notificationProvider--top-right {
        @apply flex justify-end items-start;
    }
    &.notificationProvider--top-center {
        @apply flex justify-center items-start;
    }

    &.notificationProvider--bot-center {
        @apply flex justify-center items-end;
    }
    &.notificationProvider--bot-right {
        @apply flex justify-end items-end;
    }
    &.notificationProvider--bot-left {
        @apply flex justify-start items-end;
    }
    .notificationProvider__content {
        @apply max-w-sm w-full;
    }
}
