.comPaginator {
    width: 100%;
    overflow: auto;
    @apply flex justify-center items-center gap-1 my-5;

    .comPaginator__page, .comPaginator__prev, .comPaginator__next {
        &.active {
            cursor: auto;
            background: var(--theme-color);
            color: var(--color-white);

            &:hover {
                color: var(--color-white);
                background-color: var(--theme-color);
            }
        }
        i {
            line-height: unset;
        }
    }
}
