.comProgressBar {
    width: 100%;
    height: 1rem;
    background-color: var(--color-gray-300);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;

    .comProgressBar__fill {
        height: 1rem;
        border-radius: var(--border-radius);
        background-color: var(--theme-color);
        transition: width 0.5s ease-in-out;
    }
    .comProgressBar__percent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        color: var(--color-white);
    }
}
