.comRadio {
    @apply flex items-center justify-start flex-wrap gap-5;

    label {
        @apply flex items-center justify-start flex-wrap gap-3 cursor-pointer;

        .comRadio__checkMark {
            width: 20px;
            height: 20px;
            border: 1px solid var(--border-color);
            border-radius: 50%;
            color: var(--theme-color);
            background: var(--bg-color);
            font-size: 20px;
            display: inline-block;
            &:before {
                display: none;
            }
        }
        .comRadio__label{
            display: inline-block;
        }
        input {
            display: none;
            &:checked ~ .comRadio__checkMark {
                border: none;
                &:before {
                    display: block;
                }
            }
        }
    }
}
