input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

* {
    font-size: var(--font-size);
    scrollbar-width: thin !important;
    scrollbar-color: var(--theme-color) var(--bg-color) !important;
}
