.comSearchBox {
    position: relative;
    .comTextBox {
        min-width: 100px;
        width: 100%;
        .comInputSuffix {
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
            background: transparent;
        }
    }

    .comSearchBox__dropdown {
        @include selectDropdown();
    }
}
