.comSelectBox {
    @include textBox();

    .comSelectBox__prefix {
        left: 5px;
        @include textBoxPreSuffix();
    }

    .comSelectBox__suffix {
        @include textBoxPreSuffix();
        transition: all ease 0.5s;
        right: 5px;
        cursor: pointer;

        &::before {
            font-size: 10px !important;
        }

    }

    .comSelectBox__display {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 40px;
    }

    .comSelectBox__dropdown {
        @include selectDropdown();
        overflow: hidden;
        max-height: 400px;
        .comSelectBox__dropdown__search {
            input {
                border-radius: 0;
                box-shadow: none;
                border: none;
                border-bottom: 1px solid lightgray;
                &:hover, &:focus {
                    border: none;
                    border-bottom: 1px solid lightgray;
                    box-shadow: none;
                }
            }
        }
        ul {
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 320px;
        }
    }

    &.comSelectBox--hasPrefix {
        .comSelectBox__display {
            padding-left: 40px;
        }
    }
    &.active {
        .comSelectBox__suffix {
            transform: rotate(180deg);
        }
    }

    &.comSelectBox--multiple {
        .comSelectBox__display {
            @apply flex flex-wrap gap-2;
            .comTag {
                width: fit-content;
            }
        }
    }

}
