.comSwitcher {
    label {
        @apply flex items-center gap-1 cursor-pointer w-fit;
    }
    input {
        position: relative;
        width: 60px;
        height: 25px;
        -webkit-appearance: none;
        background: var(--input-bg-color);
        border: 1px solid var(--border-color);
        outline: none;
        border-radius: 15px;
        box-shadow: inset 0 0 2px rgba(0,0,0,.2);
        transition: .5s;
        cursor: pointer;

        &::before {
            content: '';
            position:absolute;
            width: 25px;
            height: 25px;
            border-radius: 15px;
            top: 0;
            left: 5px;
            background: #ffffff;
            transition: .5s;
            transform: scale(1.1);
            box-shadow: 0 2px 5px rgba(0,0,0,.2);

        }

        &:checked {
            background: var(--theme-color);
            &::before {
                left: 30px
            }
        }

    }
}
