.comTabs {
    &.comTabs--flat {
        .comTabs__content {
            border-radius: 0;
            border-top: 1px solid var(--border-color);
            border-bottom: none;
            border-right: none;
            border-left: none;
        }
        .comTabs__header {
            .comTabs__header__label {
                border: none;

                &:first-child {
                    border-radius: 0;
                    border: none;
                }

                &:last-child {
                    border-radius: 0;
                    border: none;
                }

                &.active {
                    color: var(--theme-color);
                    background-color: var(--bg-color);
                    font-weight: bold;
                    cursor: default;
                    border-bottom: 1px solid var(--theme-color);
                }
            }
        }

    }
    .comTabs__header {
        display: flex;
        justify-content: flex-start;
        height: auto;
        width: 100%;


        .comTabs__header__label {
            padding: 0.5rem;
            border-top: 1px solid var(--border-color);
            border-left: 0.5px solid var(--border-color);
            border-right: 0.5px solid var(--border-color);
            border-bottom: none;
            cursor: pointer;
            background: var(--bg-color);

            &:first-child {
                border-radius: var(--border-radius) 0 0 0;
                border-left: 1px solid var(--border-color);
            }

            &:last-child {
                border-radius: 0 var(--border-radius) 0 0;
                border-right: 1px solid var(--border-color);
            }

            &.active {
                background-color: var(--theme-color);
                color: var(--color-white);
                cursor: default;
            }
        }
    }

    .comTabs__content {
        background-color: var(--bg-color);
        width: 100%;
        padding: 10px;
        border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
        border: 1px solid var(--border-color);
    }
}
