.comTable {
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background: var(--bg-color);
    overflow: auto;

    .comTable__checker {
        @apply flex justify-center items-center;
    }
    table {
        width: 100%;
    }

    td, th {
        text-align: left;
        border: none;
        padding: 10px;
    }

    tbody {
        tr {
            &:hover {
                background-color: var(--hover-bg-color);
            }
        }
    }
    &.comTable--stripe {
        tbody {
            tr {
                &:nth-child(even) {
                    background-color: var(--hover-bg-color);
                }
            }
        }
    }
    &.comTable--border {
        tbody {
            td {
                border: 1px solid var(--border-color);
            }
        }
    }
}
