.comTag {
    border-radius: var(--border-radius);
    padding: 5px 10px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow);
    color: var(--text-color-2);
    @apply flex items-center justify-start gap-1;

    .comTag__close {
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        width: 20px;
        height: 20px;
        color: var(--text-color-3);

        @apply flex justify-center items-center;

        &:hover {
            background: var(--hover-bg-color);
        }
    }

    &.comTag--primary {
        color: var(--color-white);
        background: var(--color-primary-500);
        .comTag__close {
            color: var(--color-white);
            &:hover {
                color: var(--text-color);
            }
        }
    }
    &.comTag--success {
        color: var(--color-white);
        background: var(--color-success-500);
        .comTag__close {
            color: var(--color-white);
            &:hover {
                color: var(--text-color);
            }
        }
    }
    &.comTag--danger {
        color: var(--color-white);
        background: var(--color-danger-500);
        .comTag__close {
            color: var(--color-white);
            &:hover {
                color: var(--text-color);
            }
        }
    }
    &.comTag--warning {
        color: var(--color-white);
        background: var(--color-warning-500);
        .comTag__close {
            color: var(--color-white);
            &:hover {
                color: var(--text-color);
            }
        }
    }
}
