.comTextBox {
    position: relative;
    input {
        @include textBox();
        width: 100%;
        &::-webkit-calendar-picker-indicator {
            color: var(--text-color);
        }
    }
    .comTextBox__prefix {
        @include textBoxPreSuffix();
        width: var(--input-prex-suffix-width);
        left: 0;
    }
    .comTextBox__suffix {
        @include textBoxPreSuffix();
        width: var(--input-prex-suffix-width);
        right: 0;
    }

    &.comTextBox--hidePicker {
        &::-webkit-calendar-picker-indicator {
            display: none;
            -webkit-appearance: none;
        }
    }
    &.comTextBox--hasPrefix {
        input {
            padding-left: var(--input-prex-suffix-width);
        }
    }
    &.comTextBox--hasSuffix {
        input {
            padding-right: var(--input-prex-suffix-width);
        }
    }
}
