.comTextArea {
    @include textBox();
    min-height: 100px;
    min-width: 200px;
    resize: none;
    background-color: var(--bg-color);
    color: var(--text-color-2);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    &:focus, &:hover {
        border: 1px solid var(--border-color);
        box-shadow: var(--shadow);
    }

    &.comTextArea--resizeable {
        resize: both;
    }
}
