.dropdownTransition, .modalTransition {
    transition: all 0.5s ease;
}
.dropdownTransition-enter-active {
    transform: translateY(-10px);
    opacity: 1;
}
.dropdownTransition-leave-active {
    transform: translateY(10px);
    opacity: 0;
}

.modalTransition-enter-active {
    opacity: 1;
}
.modalTransition-leave-active {
    opacity: 0;
}
