.comTransfer {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    width: fit-content;
    @apply flex gap-5 p-5;

    .comTransfer__title {
        font-weight: bold;
        margin-bottom: 10px;
    }
    .comTransfer__center {
        @apply  flex items-center justify-center flex-col gap-2 p-5
    }
    .comTransfer__left, .comTransfer__right {
        border: 1px dashed var(--border-color);
        border-radius: var(--border-radius);
        @apply p-5;

        .comTransfer__item {
            @apply flex items-center gap-2 cursor-pointer;
            &.selected {
                cursor: default;
                opacity: 0.2;
            }
        }
    }
}
