.comVideoPreviewer {
    min-width: 150px;
    min-height: 150px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background: var(--bg-color);
    @apply flex justify-center items-center;

    video {
        border-radius: var(--border-radius);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    i {
        color: var(--color-gray-400);
        font-size: calc(var(--font-size-3) + 1.5rem);
    }
}
