<script setup lang="ts">
import {ProgressBarProps} from "../../../definition/props";
import {ref, watch} from "vue";

const props = defineProps<ProgressBarProps>()
const percent = ref(props.percent)
watch(() => props.percent, payload => {
    percent.value = payload
})

</script>
<template>
    <div class="comProgressBar">
        <div
            class="comProgressBar__fill"
            :style="{
                width: percent + '%'
            }"
        ></div>
        <div v-if="props.showPercent" class="comProgressBar__percent">{{ percent }}%</div>
    </div>
</template>
