<script setup lang="ts">
import {ImagePreviewerProps} from '../../../definition/props'
import {ref, watch} from "vue";

const props = defineProps<ImagePreviewerProps>()
const source = ref()

const loadVideo = (file?: File) => {
    if (file) {
        source.value = URL.createObjectURL(file)
    } else {
        source.value = ''
    }
}

if (props.source) {
    loadVideo(props.source)
}
watch(() => props.source, (payload) => {
    loadVideo(payload)
})
</script>
<template>
    <div class="comVideoPreviewer">
        <video
            v-if="source"
            controls
           :src="source"
        />
        <i v-else class="icon-film-play"/>
    </div>
</template>
