<script setup lang="ts">
import {TagProps} from "../../../definition/props";

const props = defineProps<TagProps>()

</script>
<template>
    <div class="comTag">
        <div
            class="comTag__content"
            @click="() => {
                if (typeof props.onClick !== 'undefined')
                    props.onClick(props.data)
            }"
        >
            <slot></slot>
        </div>
        <div
            v-if="props.onClose"
            class="comTag__close"
            @click="props.onClose(props.data)"
        >
            <i class="icon-x-close"/>
        </div>
    </div>
</template>
