@tailwind base;
@tailwind components;
@tailwind utilities;

.icons {
    @apply flex gap-2 flex-wrap
}
.icons >  div {
    @apply flex gap-2 items-center;
    padding: 10px;
    border: 1px solid var(--border-color);
}

.icons > div >  i {
    font-size: 32px;
}
.content > .heading {
    @apply mb-5;
}
