<script setup lang="ts">
import {UploaderProps} from "../../../definition/props";
import ComProgressBar from "../../atoms/progress-bar/ComProgressBar.vue";
import {useUploader} from "../../../logic/uploader";

const props = withDefaults(defineProps<UploaderProps>(), {
    autoUpload: false,
    multiple: false,
    showProgressBar: true,
    mimetypes: '*/*',
    chunkSize: 1024*1024*2 // 2mb
})

const {
    files,
    isUploading,
    inputDomId,
    onSelectFile,
    upload,
    browseFile,
    resetFile,
    removeFile,
} = useUploader(props)

defineExpose({
    upload,
    browseFile,
    resetFile,
    removeFile
})
</script>
<template>
    <div class="comChunkUploader">
        <slot
            name="default"
            :files="files"
            :uploading="isUploading"
            :browseFile="browseFile"
            :upload="upload"
            :resetFile="resetFile"
            :removeFile="removeFile"
        >
            <div class="dropzone" @click="browseFile">
                <i class="icon-file-add"></i>
            </div>
            <template v-if="files">
                <div
                    v-for="(item, index) in files"
                    :key="index"
                    class="file"
                    :class="item.isUploaded ? 'file--uploaded' : ''"
                >
                    <div
                        class="file__icon"
                        :class="[
                            item.uploadPercent > 0 && item.uploadPercent < 100 ? 'animate-bounce' : '',
                        ]"
                    >
                        <i v-if="item.uploadPercent > 0 && item.uploadPercent < 100" class="icon-cloud-upload"/>
                        <i v-else class="icon-document-attach"/>
                    </div>
                    <div>
                        <div class="file__name">{{ item.file.name }}</div>
                        <div class="file__size">{{ Math.round(item.file.size / 1024) }} KB</div>
                        <ComProgressBar
                            :percent="item.uploadPercent"
                            :show-percent="true"
                        />
                    </div>
                    <div class="file__remove">
                        <i
                            v-if="!item.isUploaded && !isUploading"
                            class="icon-trash"
                            @click="removeFile(index)"></i>
                    </div>
                </div>
            </template>
        </slot>

        <input
            v-if="props.multiple"
            type="file"
            style="display: none"
            :accept="props.mimetypes"
            :id="inputDomId"
            :multiple="props.multiple"
            @change="onSelectFile"
        >
        <input
            v-else
            type="file"
            style="display: none"
            :accept="props.mimetypes"
            :id="inputDomId"
            @change="onSelectFile"
        >
    </div>
</template>
