<script lang="ts" setup>
import {ref, watch} from 'vue'
import {SelectOption, Option} from '../../../definition/types.ts'
import {useSelectMultiple} from '../../../logic/select.ts'
import {SelectMultipleProps} from "../../../definition/props.ts";
import {vClickOutside} from '../../../ultis/directives.ts'
import ComTag from "../../atoms/tag/ComTag.vue";
import ComTextBox from "../../atoms/textbox/ComTextBox.vue";

const props = defineProps<SelectMultipleProps>()
const emit = defineEmits(['update:modelValue'])

const {selectedOptions, sourceOptions, syncSelectedOptions, syncOptions} = useSelectMultiple({
    modelValue: props.modelValue,
    options: props.options
});

watch(() => props.modelValue, payload => {
    syncSelectedOptions(payload)
})

watch(() => props.options, payload => {
    syncOptions(payload)
    isLoading.value = false
})

const isShowDropdown = ref<boolean>(false);
const isLoading = ref<boolean>(false);
const search = ref<string>('');

watch(() => search.value, async payload => {
    if (props.onSearch) {
        isLoading.value = true
        props.onSearch(payload)
    }
})
const onClick = (option: SelectOption) => {
    option.is_selected = !option.is_selected
    selectedOptions.value = sourceOptions.value.filter(item => {
        return item.is_selected === true
    })

    emit('update:modelValue', selectedOptions.value)
}
const onRemoveTag = (option: Option) => {
    sourceOptions.value = sourceOptions.value.map(item => {
        if (item.value === option.value) {
            item.is_selected = false
        }
        return item
    })
    selectedOptions.value = sourceOptions.value.filter(item => {
        return item.is_selected === true
    })

    emit('update:modelValue', selectedOptions.value)
}
const toggleDropdown = () => {
    if (!props.readonly) {
        isShowDropdown.value = !isShowDropdown.value
    }
}
const hideDropdown = () => {
    isShowDropdown.value = false
}

</script>
<template>
    <div
         :class="[
             'comSelectBox',
             'comSelectBox--multiple',
             prefixIcon ? 'comSelectBox--hasPrefix ' : null,
             isShowDropdown ? 'active' : null
         ]"
         v-click-outside="hideDropdown"
    >
        <i v-if="prefixIcon"
           class="comSelectBox__prefix"
           :class="prefixIcon"
        />
        <div
            v-if="selectedOptions.length > 0"
            class="comSelectBox__display"
        >
            <template v-for="item in selectedOptions" :key="item.value">
                <ComTag v-if="props.readonly">
                    {{ item.name }}
                </ComTag>
                <ComTag v-else :on-close="() => onRemoveTag(item)">
                    {{ item.name }}
                </ComTag>
            </template>
        </div>
        <div
            v-else
            class="comSelectBox__display"
            @click="toggleDropdown">
            {{ props.placeholder || '-' }}
        </div>
        <div
            v-show="isShowDropdown"
            class="comSelectBox__dropdown">
            <div v-if="props.onSearch"
                 class="comSelectBox__dropdown__search">
                <ComTextBox
                    v-model="search"
                    :prefix-icon="'icon-search'"
                    :suffix-icon="isLoading ? 'icon-loading animate-spin' : ''"
                    :delay-time="300"
                />
            </div>
            <ul v-if="sourceOptions">
                <li
                    v-for="option in sourceOptions"
                    :key="option.value"
                    :class="option.is_selected ? 'selected' : ''"
                    @click="onClick(option)"
                >
                    {{ option.name }}
                    <i
                        v-if="option.is_selected"
                        class="checkMark icon-check"
                    />
                </li>
            </ul>
        </div>
        <i
            class="comSelectBox__suffix icon-chevron-down"
            @click="toggleDropdown"
        />
    </div>
</template>
