@mixin buttonHover($color, $backgroundColor) {
    &:hover {
        color: $color;
        background: $backgroundColor;
    }
}

@mixin buttonFocus($shadow) {
    &:focus {
        @if $shadow == none {
            box-shadow: none;
        } @else {
            box-shadow: $shadow;
        }
    }
}

@mixin buttonDisable($color, $borderColor, $backgroundColor) {
    &:disabled {
        color: $color;
        border: 1px solid $borderColor;
        cursor: default;
        background: $backgroundColor;
        &:hover {
            color: $color;
            background: $backgroundColor;
        }
        &:focus {
            box-shadow: none;
        }
    }
}
