@mixin selectDropdown() {
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
    box-shadow: var(--shadow-2);
    transition: all ease 0.5s;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: calc(100% + 0.2rem);
    left: 0;
    right: 0;
    overflow: auto;
    z-index: 1;
    li {
        font-size: var(--font-size);
        position: relative;
        padding: 1rem 1.4rem;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &.selected {
            color: var(--color-white);
            background-color: var(--theme-color);
        }
        &:hover {
            background-color: var(--hover-bg-color);
        }
        .checkMark {
            &:before {
                color: var(--theme-color);
            }
            position: absolute;
            padding: 5px;
            top: 5px;
            right: 5px;
        }
    }
}
