@mixin textBox() {
    background-color: var(--bg-color);
    color: var(--text-color-2);
    border: 1px solid var(--border-color-2);
    border-radius: var(--border-radius);
    padding: var(--input-padding);
    box-sizing: border-box;
    transition: all 0.5s;
    outline: none;
    position: relative;

    &:focus,  &:hover {
        outline: none;
        border: 1px solid var(--border-color-2);
        box-shadow: var(--shadow);
    }
}
@mixin textBoxPreSuffix() {
    position: absolute;
    top: 0;
    bottom: 0;
    color: var(--text-color);
    background: transparent;

    @apply flex items-center justify-center p-2;

    i {
        @apply text-lg;
    }
}
