<script setup lang="ts">
import {ListProps} from "../../../definition/props";
import {ref, watch} from "vue";
import {Option, SelectOption} from "../../../definition/types";

const props = defineProps<ListProps>()
const sourceOptions = ref<SelectOption[]>([]);

const setStatus = (list: Option[]) => {
    sourceOptions.value = list.map(item => {
        const selectOption: SelectOption = {
            name: item.name,
            value: item.value,
            is_selected: false
        }
        return selectOption
    })
}

setStatus(props.list)
watch(() => props.list, (payload) => {
    setStatus(payload)
})


</script>
<template>
    <div class="comList">
        <div
            v-for="(item, i) in sourceOptions"
            :key="i"
            :class="[
                'comList__item',
                typeof props.onClick === 'function' ? 'clickable' : null
            ]"
            @click="typeof props.onClick === 'function' ? props.onClick(item) : null"
        >
            <slot :item="item">
                {{ item.name }}
            </slot>
        </div>
    </div>
</template>
