<script setup lang="ts">
import {ImagePreviewerProps} from '../../../definition/props'
import {ref, watch} from "vue";
const props = defineProps<ImagePreviewerProps>()
const source = ref()
const isLoading = ref(false)

const loadImage = (file?: File) => {
    if (file) {
        isLoading.value = true
        const reader = new FileReader();
        reader.onload = () => {
            // @ts-ignore
            source.value = reader.result
            isLoading.value = false
        }
        reader.readAsDataURL(file);
    } else {
        source.value = ''
    }
}

if (props.source) {
    loadImage(props.source)
}
watch(() => props.source, (payload) => {
    loadImage(payload)
})
</script>
<template>
    <div
        class="comImagePreviewer"
        :style="`background-image: url('${source}')`"
    >
        <i v-if="isLoading" class="icon-loading animate-spin"/>
        <div v-if="!source && !isLoading">
            <slot><i class="icon-image"/></slot>
        </div>
    </div>
</template>
