<script setup lang="ts">
import {ref, watch} from 'vue'
import {OptionProps} from '../../../definition/props'
import {Option} from '../../../definition/types'

const props = defineProps<OptionProps>()
const emit = defineEmits(['update:modelValue'])
const selected = ref<string|number>(props.modelValue ? props.modelValue.value : '')

const onSelect = (option: Option) => {
    selected.value = option.value
    emit('update:modelValue', option)
}

watch(() => props.modelValue, payload => {
    selected.value = payload ? payload.value : ''
})
</script>
<template>
    <div class="comRadio">
        <label
            v-for="option in options"
            :key="option.value"
        >
            <input
                type="radio"
                v-model="selected"
                :value="option.value"
                @change="onSelect(option)"
            />
            <span class="comRadio__checkMark icon-radio-box-checked"></span>
            <span class="comRadio__label">{{ option.name }}</span>
        </label>
    </div>
</template>
