<script setup lang="ts">
import {TabsProps} from "../../../definition/props";
import {Option} from "../../../definition/types";
import {ref, watch} from "vue";

const props = defineProps<TabsProps>()
const activeTab = ref<Option>(props.tab)

watch(() => props.tab, payload => {
    activeTab.value = payload
})
const onChange = (payload: Option) => {
    activeTab.value = payload

    if (typeof props.onChange === 'function') {
        props.onChange(payload)
    }
}
</script>

<template>
   <div
       :class="[
           'comTabs',
           props.flat ? 'comTabs--flat' : null
       ]"
   >
       <div class="comTabs__header">
           <div
               v-for="tab in props.tabs"
               :key="tab.value"
               class="comTabs__header__label"
               :class="[
                    activeTab.value === tab.value ? 'active' : null
               ]"
               @click="onChange(tab)"
           >
               <slot :name="`${tab.value}-label`"></slot>
               {{ tab.name }}
           </div>
       </div>
       <div class="comTabs__content">
           <div v-for="tab in props.tabs"
                :key="tab.value"
                v-show="activeTab.value === tab.value"
           >
               <slot :name="`${tab.value}-content`"></slot>
           </div>

       </div>
   </div>
</template>
