<script setup lang="ts">
import {TextBoxProps} from "../../../definition/props";
import {ref, watch} from "vue";

const props =  defineProps<TextBoxProps>()
const content = ref(props.modelValue)
const delayHandle = ref<ReturnType<typeof setTimeout> | undefined>()
const emit = defineEmits(['update:modelValue'])

watch(() => props.modelValue, payload => {
    content.value = payload
})
const onChange = () => {
    if (props.delayTime) {
        if (delayHandle.value) {
            clearTimeout(delayHandle.value)
        }

        delayHandle.value = setTimeout(() => emit('update:modelValue', content.value), props.delayTime)
        return
    }

    emit('update:modelValue', content.value)
}
</script>
<template>
    <textarea
        class="comTextArea"
        spellcheck="false"
        v-model="content"
        @input="onChange"
    />
</template>
