<script lang="ts" setup>
import {watch} from 'vue'
import {Option, SelectOption} from '../../../definition/types'
import {useSelectMultiple} from '../../../logic/select'
import {SelectMultipleProps} from "../../../definition/props";
import ComButton from "../../atoms/button/ComButton.vue";
import {ButtonStyle} from "../../../definition/enums";

const props = defineProps<SelectMultipleProps>()
const emit = defineEmits(['update:modelValue'])

const {selectedOptions, sourceOptions, syncSelectedOptions, syncOptions} = useSelectMultiple({
    modelValue: props.modelValue,
    options: props.options
});

watch(() => props.modelValue, payload => {
    syncSelectedOptions(payload)
})

watch(() => props.options, payload => {
    syncOptions(payload)
})

const onClick = (option: SelectOption | Option) => {
    sourceOptions.value = sourceOptions.value.map(item => {
        item.is_selected = option.value === item.value ? !item.is_selected : item.is_selected
        return item;
    })
    selectedOptions.value = sourceOptions.value.filter(item => {
        return item.is_selected === true
    })

    emit('update:modelValue', selectedOptions.value)
}

const onClickAll = (isSelect: boolean) => {
    sourceOptions.value = sourceOptions.value.map(item => {
        item.is_selected = isSelect
        return item
    })
    selectedOptions.value = sourceOptions.value.filter(item => {
        return item.is_selected === true
    })
    emit('update:modelValue', selectedOptions.value)
}
</script>
<template>
    <div class="comTransfer">
        <div class="comTransfer__left">
            <h3 class="comTransfer__title">
                <slot name="title-left" :count="sourceOptions.length - selectedOptions.length">
                    Source ({{ sourceOptions.length - selectedOptions.length }} items)
                </slot>
            </h3>
            <div class="comList">
                <div
                    v-for="item in sourceOptions"
                    :key="item.value"
                    class="comList__item comTransfer__item"
                    :class="[item.is_selected ? 'selected' : null]"
                    @click="onClick(item)"
                >
                    {{ item.name }}
                </div>
            </div>
        </div>
        <div class="comTransfer__center">
            <ComButton
                :type="ButtonStyle.SUCCESS"
                @click="onClickAll(true)"
            >
                <slot name="button-select-all">
                    All <i class="icon-arrow-right"/>
                </slot>
            </ComButton>
            <ComButton
                :type="ButtonStyle.DANGER"
                @click="onClickAll(false)"
            >
                <slot name="button-unselect-all">
                    <i class="icon-arrow-left"/> All
                </slot>
            </ComButton>
        </div>
        <div class="comTransfer__right">
            <h3 class="comTransfer__title">
                <slot name="title-right" :count="selectedOptions.length">
                    Selected ({{ selectedOptions.length }} items)
                </slot>
            </h3>
            <div class="comList">
                <div
                    v-for="item in selectedOptions"
                    :key="item.value"
                    class="comList__item comTransfer__item"
                    @click="onClick(item)"
                >
                    {{ item.name }}
                </div>
            </div>
        </div>
    </div>
</template>
