<script setup lang="ts">
import { ref } from 'vue';
import { ButtonProps } from '../../../definition/props';

const props = defineProps<ButtonProps>()
const emit = defineEmits(['click'])
const delayHandle = ref<ReturnType<typeof setTimeout> | undefined>()
const onClick = () => {
    if (props.delayTime) {
        if (delayHandle.value) {
            clearTimeout(delayHandle.value)
        }

        delayHandle.value = setTimeout(() => emit("click"), props.delayTime)
        return
    }

    emit("click")
}
</script>
<template>
    <button
        class="comButton"
        :class="[
            props.type ?? null,
            props.size ?? null
        ]"
        @click="onClick"
    >
        <slot></slot>
    </button>
</template>
