<script setup lang="ts">
import {ref, watch} from 'vue'
import {SelectProps} from '../../../definition/props'
import {Option} from '../../../definition/types'
import {vClickOutside} from '../../../ultis/directives'
import ComTextBox from "../textbox/ComTextBox.vue";

const props = defineProps<SelectProps>()
const emit = defineEmits(['update:modelValue'])
const selected = ref<Option|undefined>(props.modelValue)
const isShowDropdown = ref<boolean>(false)
const isLoading = ref<boolean>(false);
const search = ref<string>('');

watch(() => search.value, async payload => {
    if (props.onSearch) {
        isLoading.value = true
        props.onSearch(payload)
    }
})
const onSelect = (option: Option) => {
    selected.value = option
    isShowDropdown.value = false
    emit('update:modelValue', selected.value)
}

watch(() => props.modelValue, payload => {
    selected.value = payload
})

const toggleDropdown = () => {
    if (!props.readonly) {
        isShowDropdown.value = !isShowDropdown.value
    }
}
const hideDropdown = () => {
    isShowDropdown.value = false
}
</script>
<template>
    <div class="comSelectBox"
         v-click-outside="hideDropdown"
         :class="(prefixIcon ? 'comSelectBox--hasPrefix ' : '') + (isShowDropdown ? 'active' : '')"
    >
        <i v-if="prefixIcon"
           class="comSelectBox__prefix"
           :class="prefixIcon"
        />
        <div
            class="comSelectBox__display"
            @click="toggleDropdown"
        >
            {{ selected ? selected.name : (props.placeholder || '-') }}
        </div>
        <div
            v-show="isShowDropdown"
            class="comSelectBox__dropdown"
        >
            <div v-if="props.onSearch"
                 class="comSelectBox__dropdown__search">
                <ComTextBox
                    v-model="search"
                    :prefix-icon="'icon-search'"
                    :suffix-icon="isLoading ? 'icon-loading animate-spin' : ''"
                    :delay-time="300"
                />
            </div>
            <ul v-if="props.options">
                <li
                    v-for="option in props.options"
                    :key="option.value"
                    :class="(selected && option.value === selected.value) ? 'selected' : ''"
                    @click="onSelect(option)"
                >
                    {{ option.name }}
                </li>
            </ul>
        </div>
        <i
            class="comSelectBox__suffix icon-chevron-down"
            @click="toggleDropdown"
        />
    </div>
</template>
