<script setup lang="ts">
import {PaginatorProps} from "../../../definition/props.ts";
import {watch} from "vue";
import {usePaginator} from "../../../logic/paginator.ts";
import ComButton from "../../atoms/button/ComButton.vue";


const props = defineProps<PaginatorProps>()
const {pages, prev, next, calculate} = usePaginator(props)

watch(() => props.page, payload => {
    calculate({
        total: props.total,
        perPage: props.perPage,
        page: payload
    })
})
watch(() => props.total, payload => {
    calculate({
        total: payload,
        perPage: props.perPage,
        page: props.page
    })
})
watch(() => props.perPage, payload => {
    calculate({
        total: props.total,
        perPage: payload,
        page: props.page
    })
})

const onClick = (page:number) => {
    if (page) {
        props.onChange(page)
    }
}
</script>
<template>
    <div class="comPaginator">
        <ComButton
            v-if="prev"
            class="comPaginator__prev"
            @click="onClick(prev)"
        >
            <slot name="previous" :page="prev">
                <i class="icon-arrow-left"/>
            </slot>
        </ComButton>
        <ComButton
            v-for="(page, i) in pages"
            :key="i"
            class="comPaginator__page"
            :disabled="!page"
            :class="[
                page === props.page ? 'active' : null
            ]"
            @click="onClick(page)"
        >
            {{ page > 0 ? page : '...' }}
        </ComButton>
        <ComButton
            v-if="next"
            class="comPaginator__next"
            @click="onClick(next)"
        >
            <slot name="next" :page="next">
                <i class="icon-arrow-right"/>
            </slot>
        </ComButton>
    </div>
</template>
