<script setup lang="ts">
import {ref, watch} from 'vue';
import {DropdownProps} from '../../../definition/props';
import {DropdownTrigger} from "../../../definition/enums";
import {vClickOutside} from '../../../ultis/directives';
import {randomStr} from '../../../ultis/helper';

const props =  defineProps<DropdownProps>()
const isShow = ref(props.isShowDropdown || false)
const domId = randomStr()
const top = ref('100%')
const left = ref('0')

watch(() => props.isShowDropdown, payload => {
    isShow.value = payload
})

const onClick = () => {
    if (props.trigger === DropdownTrigger.CLICK) {
        isShow.value = !isShow.value
    }
}
const hideDropdown = () => {
    isShow.value = false
}
const showDropdown = () => {
    isShow.value = true
}

const calculatePosition = () => {
    const dropdownToggle = document.getElementById(domId)
    if (!dropdownToggle) return

    const dropdownContent = dropdownToggle.querySelector('.comDropdown__content')
    if (!dropdownContent) {
        setTimeout(() => {
            calculatePosition()
        }, 100)
        return
    }

    const rect = dropdownToggle.getBoundingClientRect();
    //@ts-ignore
    const menuHeight = dropdownContent.offsetHeight
    //@ts-ignore
    const menuWidth = dropdownContent.offsetWidth
    const viewportHeight = window.innerHeight;
    const viewportWidth = window.innerWidth;

    // Determine if the dropdown should open above or below
    if (rect.bottom + menuHeight > viewportHeight) {
        top.value = `-${menuHeight}px`;
    } else {
        top.value = `${rect.height}px`;
    }

    // Determine if the dropdown should open to the left or right
    if (rect.left + menuWidth > viewportWidth) {
        left.value = `-${menuWidth - rect.width}px`;
    } else {
        left.value = '0';
    }
}

const generateStyle = () => {
    return `--dropdown-top: ${top.value}; --dropdown-left: ${left.value};`
}

defineExpose({
    hideDropdown,
    showDropdown
})
</script>
<template>
    <div
        class="comDropdown"
        :id="domId"
        @mouseover="calculatePosition"
        v-click-outside="hideDropdown"
        :class="[
            props.trigger === DropdownTrigger.CLICK ? 'comDropdown--click' : null,
            props.trigger === DropdownTrigger.HOVER ? 'comDropdown--hover' : null,
            props.displayFixed ? 'comDropdown--fixed' : null,
        ]"
    >
        <div class="comDropdown__trigger" @click="onClick">
            <slot></slot>
        </div>
        <TransitionGroup
            appear
            tag="div"
            enter-active-class="transform ease-out duration-300 transition"
            enter-from-class="translate-y-4 opacity-0"
            enter-to-class="translate-y-0 opacity-100"
            leave-active-class="transition ease-in duration-100"
            leave-from-class="opacity-100"
            leave-to-class="opacity-0"
            move-class="transition ease-in-out duration-500"
        >
            <div v-if="isShow || props.trigger === DropdownTrigger.HOVER"
                 class="comDropdown__content"
                 :style="generateStyle()"
            >
                <slot name="dropdown"></slot>
            </div>
        </TransitionGroup>
    </div>
</template>
