<script setup lang="ts">
import {TableProps} from "../../../definition/props";
import {ref, watch} from "vue";
import ComChecker from "../../atoms/checker/ComChecker.vue";
const props = defineProps<TableProps>()
const canSelect = ref<boolean>(typeof props.onSelect !== 'undefined')
const selectAll = ref<boolean>(false)
const initDataset = (rows: Array<any>) => {
    let cloneRows: Array<any> = JSON.parse(JSON.stringify(rows))

    if (canSelect) {
        return cloneRows.map(item => {
            item.is_selected = false
            return item
        })
    }

    return cloneRows
}

const dataset = ref<Array<any>>(initDataset(props.rows))

watch(() => selectAll.value, (payload) => {
    dataset.value = dataset.value.map(item => {
        item.is_selected = payload
        return item
    })
})
watch(() => props.rows, payload => {
    dataset.value = initDataset(payload)
})

const onSelect = () => {
    if (typeof props.onSelect !== 'undefined')
        props.onSelect(dataset.value.filter(item => {
            return item.is_selected
        }))
}
watch(() => dataset.value, onSelect, {
    deep: true
})

</script>
<template>
    <div
        class="comTable"
        :class="[
            props.stripe ? 'comTable--stripe' : null,
            props.border ? 'comTable--border' : null
        ]"
    >
        <table>
            <thead>
                <tr>
                    <th v-if="canSelect">
                        <div class="comTable__checker">
                            <ComChecker v-model="selectAll"/>
                        </div>
                    </th>
                    <slot name="header">
                        <th
                            v-for="col in props.columns"
                            :key="col.key"
                        >
                            {{ col.name }}
                        </th>
                    </slot>
                </tr>
            </thead>
            <tbody>
                <tr
                    v-for="(row, index) in dataset"
                    :key="index"
                >
                    <th v-if="canSelect">
                        <div class="comTable__checker">
                            <ComChecker v-model="row.is_selected"/>
                        </div>
                    </th>
                    <slot
                        name="row"
                        :row="row"
                    >
                        <td
                            v-for="col in props.columns"
                            :key="col.key"
                        >
                            {{ row[col.key] }}
                        </td>
                    </slot>
                </tr>
            </tbody>
        </table>
    </div>
</template>
