<script setup lang="ts">
import {tableData, tableColumns} from "../mockup";
const onSelect = (payload: any) => {
    console.log(payload)
}
</script>
<template>
    <div class="form">
        <div class="form__heading">Default</div>
        <div class="form__section">
            <ComTable
                style="width: 500px"
                :columns="tableColumns"
                :rows="tableData"
                :border="false"
            />
            <ComTable
                style="width: 500px"
                :columns="tableColumns"
                :rows="tableData"
                :border="true"
            />
            <ComTable
                style="width: 500px"
                :columns="tableColumns"
                :rows="tableData"
                :border="true"
                :stripe="true"
            />
        </div>
        <div class="form__heading">Custom</div>
        <div class="form__section">
            <ComTable
                style="width: 800px"
                :columns="tableColumns"
                :rows="tableData"
                :stripe="false"
                :border="true"
                :on-select="onSelect"
            >
                <template v-slot:header>
                    <th class="items-center text-base">
                        Person
                    </th>
                    <th>
                        Detail
                    </th>
                </template>
                <template v-slot:row="{row}">
                    <td>
                        {{ row.name }}
                        <span
                            v-if="row.age < 30"
                            class="text-green-800"
                        >(Under 30)</span>
                    </td>
                    <td>
                        <p>Age:  {{ row.age }}</p>
                        <p>Job:  {{ row.job }}</p>
                    </td>
                    <td>
                        <div class="flex gap-3">
                            <ComButton
                                class="comButton--primary"
                                @click="onSelect(row)"
                            >
                                <i class="icon-edit"/> Edit
                            </ComButton>
                            <ComButton
                                v-if="row.age < 30"
                                class="comButton--danger"
                                @click="onSelect(row)"
                            >
                                <i class="icon-trash"/> Delete
                            </ComButton>
                        </div>
                    </td>
                </template>
            </ComTable>
        </div>
    </div>
</template>
