<script setup lang="ts">
import {ref} from 'vue';
const page = ref(5)
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <ComPaginator
                :total="1000"
                :per-page="10"
                :page="page"
                :on-change="(payload:number) => {page = payload}"
            />
            <ComPaginator
                :total="1000"
                :per-page="10"
                :page="page"
                :on-change="(payload:number) => {page = payload}"
            >
                <template v-slot:previous>
                    Previous
                </template>
                <template v-slot:next>
                    Next
                </template>

            </ComPaginator>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            Comming soon!
        </div>
    </div>
</template>
