<script setup lang="ts">
const onUpload = (data: any) => {
    return new Promise(resolve => {
        setTimeout(() => {
            let payload = {
                ...data,
                ...{
                    hash: 'vnIEOcaKNas',
                    name: 'file.example'
                }
            }
            resolve(payload);
        }, 1000);
    });
}
const onSuccess = (data: any) => {
    console.log(data)
}
const onError = (e: any) => {
    console.log(e)
}
</script>
<template>
    <div class="form form--horizontal">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Default uploader</label>
                <ComChunkUploader
                    :on-upload="onUpload"
                    :on-success="onSuccess"
                    :on-error="onError"
                    :multiple="true"
                    :auto-upload="false"
                />
            </div>
            <div class="form__item">
                <label>Custom as image uploader</label>
                <ComChunkUploader
                    :on-upload="onUpload"
                    :on-success="onSuccess"
                    :on-error="onError"
                    :multiple="false"
                    :auto-upload="true"
                    class="w-fit"
                >
                    <template #default="{files, browseFile}">
                        <ComImagePreviewer
                            :source="files.length > 0 ? files[0].file : null"
                        />
                        <ComProgressBar
                            v-if="files.length > 0"
                            :percent="files[0].uploadPercent"
                            :show-percent="true"
                        />
                        <ComButton style="width: 150px" @click="browseFile">Browse</ComButton>
                    </template>
                </ComChunkUploader>
            </div>
            <div class="form__item">
                <label>Custom as video uploader</label>
                <ComChunkUploader
                    :on-upload="onUpload"
                    :on-success="onSuccess"
                    :on-error="onError"
                    :multiple="false"
                    :auto-upload="true"
                    class="w-fit"
                >
                    <template #default="{files, browseFile}">
                        <ComVideoPreviewer
                            :source="files.length > 0 ? files[0].file : null"
                        />
                        <p v-if="files.length > 0">{{ files[0].file.name }}</p>
                        <ComProgressBar
                            v-if="files.length > 0"
                            :percent="files[0].uploadPercent"
                            :show-percent="true"
                        />
                        <ComButton style="width: 150px" @click="browseFile">Browse</ComButton>
                    </template>
                </ComChunkUploader>
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Comming soon!</label>
            </div>
        </div>
    </div>
</template>
