<script setup lang="ts">
import {onMounted, ref} from "vue";
import {selectOptions} from "../mockup";
import {Option} from "modable";

const options = ref<Option[]>([]);
const selectedOptions = ref<Option[]>([]);
onMounted(() => {
    options.value = selectOptions
})
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <ComTransfer
                :options="options"
                v-model="selectedOptions"
            />
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
           <div class="form__item">
               <label>Options:</label>
               <code style="width: 500px; min-height: 100px;">
                   {{ JSON.stringify(options)}}
               </code>
           </div>
         <div class="form__item">
             <label>Model:</label>
             <code style="width: 500px; min-height: 100px;">
                 {{ JSON.stringify(selectedOptions)}}
             </code>
         </div>
        </div>
    </div>
</template>
