<script setup lang="ts">
import {ref} from "vue";

const selected = ref<boolean>(false)
</script>
<template>
    <div class="form form--vertical">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Checker</label>
                <ComChecker
                    v-model="selected"
                />
            </div>
            <div class="form__item">
                <label>Switcher</label>
                <ComSwitcher v-model="selected"/>
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <code>
                {{ JSON.stringify(selected)}}
            </code>
        </div>
    </div>
</template>
