<script setup lang="ts">
import {ref} from "vue";
const text = ref('')
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Default</label>
                <ComTextBox
                    style="width: 300px;"
                    v-model="text"
                    placeholder="Type something..."
                />
            </div>
            <div class="form__item">
                <label>With prefix</label>
                <ComTextBox
                    style="width: 300px;"
                    v-model="text"
                    placeholder="Type something..."
                    prefix-icon="icon-search"
                />
            </div>
            <div class="form__item">
                <label>With suffix</label>
                <ComTextBox
                    style="width: 300px;"
                    v-model="text"
                    placeholder="Type something..."
                    suffix-icon="icon-search"
                />
            </div>
            <div class="form__item">
                <label>Custom input type</label>
                <ComTextBox
                    style="width: 300px;"
                    v-model="text"
                    input-type="password"
                    placeholder="Password..."
                    prefix-icon="icon-key"
                />
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
        </div>
    </div>
</template>
