<script setup lang="ts">
</script>
<template>
    <div class="icons">
        <div><i class="icon-accessibility" /> icon-accessibility</div>
        <div><i class="icon-activity" /> icon-activity</div>
        <div><i class="icon-add-circle" /> icon-add-circle</div>
        <div><i class="icon-add" /> icon-add</div>
        <div><i class="icon-airplane" /> icon-airplane</div>
        <div><i class="icon-alarm" /> icon-alarm</div>
        <div><i class="icon-albums" /> icon-albums</div>
        <div><i class="icon-alert-circle" /> icon-alert-circle</div>
        <div><i class="icon-alert" /> icon-alert</div>
        <div><i class="icon-american-football" /> icon-american-football</div>
        <div><i class="icon-analytics" /> icon-analytics</div>
        <div><i class="icon-apartment" /> icon-apartment</div>
        <div><i class="icon-aperture" /> icon-aperture</div>
        <div><i class="icon-apps" /> icon-apps</div>
        <div><i class="icon-archive" /> icon-archive</div>
        <div><i class="icon-arrow-down-circle" /> icon-arrow-down-circle</div>
        <div><i class="icon-arrow-down-left-box" /> icon-arrow-down-left-box</div>
        <div><i class="icon-arrow-down-right-box" /> icon-arrow-down-right-box</div>
        <div><i class="icon-arrow-down" /> icon-arrow-down</div>
        <div><i class="icon-arrow-left-circle" /> icon-arrow-left-circle</div>
        <div><i class="icon-arrow-left" /> icon-arrow-left</div>
        <div><i class="icon-arrow-redo-circle" /> icon-arrow-redo-circle</div>
        <div><i class="icon-arrow-redo" /> icon-arrow-redo</div>
        <div><i class="icon-arrow-right-circle" /> icon-arrow-right-circle</div>
        <div><i class="icon-arrow-right" /> icon-arrow-right</div>
        <div><i class="icon-arrow-undo-circle" /> icon-arrow-undo-circle</div>
        <div><i class="icon-arrow-undo" /> icon-arrow-undo</div>
        <div><i class="icon-arrow-up-circle" /> icon-arrow-up-circle</div>
        <div><i class="icon-arrow-up-left-box" /> icon-arrow-up-left-box</div>
        <div><i class="icon-arrow-up-right-box" /> icon-arrow-up-right-box</div>
        <div><i class="icon-arrow-up" /> icon-arrow-up</div>
        <div><i class="icon-at-circle" /> icon-at-circle</div>
        <div><i class="icon-at" /> icon-at</div>
        <div><i class="icon-attach" /> icon-attach</div>
        <div><i class="icon-backspace" /> icon-backspace</div>
        <div><i class="icon-bag-add" /> icon-bag-add</div>
        <div><i class="icon-bag-check" /> icon-bag-check</div>
        <div><i class="icon-bag-handle" /> icon-bag-handle</div>
        <div><i class="icon-bag-remove" /> icon-bag-remove</div>
        <div><i class="icon-bag" /> icon-bag</div>
        <div><i class="icon-balloon" /> icon-balloon</div>
        <div><i class="icon-ban" /> icon-ban</div>
        <div><i class="icon-bandage" /> icon-bandage</div>
        <div><i class="icon-bar-chart" /> icon-bar-chart</div>
        <div><i class="icon-barbell" /> icon-barbell</div>
        <div><i class="icon-barcode" /> icon-barcode</div>
        <div><i class="icon-baseball" /> icon-baseball</div>
        <div><i class="icon-basket" /> icon-basket</div>
        <div><i class="icon-basketball" /> icon-basketball</div>
        <div><i class="icon-battery-charging" /> icon-battery-charging</div>
        <div><i class="icon-battery-dead" /> icon-battery-dead</div>
        <div><i class="icon-battery-full" /> icon-battery-full</div>
        <div><i class="icon-battery-half" /> icon-battery-half</div>
        <div><i class="icon-beaker" /> icon-beaker</div>
        <div><i class="icon-bed" /> icon-bed</div>
        <div><i class="icon-beer" /> icon-beer</div>
        <div><i class="icon-bell" /> icon-bell</div>
        <div><i class="icon-bicycle" /> icon-bicycle</div>
        <div><i class="icon-binoculars" /> icon-binoculars</div>
        <div><i class="icon-bluetooth" /> icon-bluetooth</div>
        <div><i class="icon-boat" /> icon-boat</div>
        <div><i class="icon-body" /> icon-body</div>
        <div><i class="icon-bold" /> icon-bold</div>
        <div><i class="icon-bonfire" /> icon-bonfire</div>
        <div><i class="icon-book" /> icon-book</div>
        <div><i class="icon-bookmark" /> icon-bookmark</div>
        <div><i class="icon-bookmarks" /> icon-bookmarks</div>
        <div><i class="icon-bowling-ball" /> icon-bowling-ball</div>
        <div><i class="icon-briefcase" /> icon-briefcase</div>
        <div><i class="icon-browsers" /> icon-browsers</div>
        <div><i class="icon-brush" /> icon-brush</div>
        <div><i class="icon-bubble" /> icon-bubble</div>
        <div><i class="icon-bug" /> icon-bug</div>
        <div><i class="icon-build" /> icon-build</div>
        <div><i class="icon-bulb" /> icon-bulb</div>
        <div><i class="icon-bullhorn" /> icon-bullhorn</div>
        <div><i class="icon-bus" /> icon-bus</div>
        <div><i class="icon-business" /> icon-business</div>
        <div><i class="icon-cafe" /> icon-cafe</div>
        <div><i class="icon-calculator" /> icon-calculator</div>
        <div><i class="icon-calendar-clear" /> icon-calendar-clear</div>
        <div><i class="icon-calendar-full" /> icon-calendar-full</div>
        <div><i class="icon-calendar-number" /> icon-calendar-number</div>
        <div><i class="icon-calendar" /> icon-calendar</div>
        <div><i class="icon-call" /> icon-call</div>
        <div><i class="icon-camera-reverse" /> icon-camera-reverse</div>
        <div><i class="icon-camera-video" /> icon-camera-video</div>
        <div><i class="icon-camera" /> icon-camera</div>
        <div><i class="icon-car-sport" /> icon-car-sport</div>
        <div><i class="icon-car" /> icon-car</div>
        <div><i class="icon-card" /> icon-card</div>
        <div><i class="icon-caret-back-circle" /> icon-caret-back-circle</div>
        <div><i class="icon-caret-back" /> icon-caret-back</div>
        <div><i class="icon-caret-down-circle" /> icon-caret-down-circle</div>
        <div><i class="icon-caret-down" /> icon-caret-down</div>
        <div><i class="icon-caret-forward-circle" /> icon-caret-forward-circle</div>
        <div><i class="icon-caret-forward" /> icon-caret-forward</div>
        <div><i class="icon-caret-up-circle" /> icon-caret-up-circle</div>
        <div><i class="icon-caret-up" /> icon-caret-up</div>
        <div><i class="icon-cart" /> icon-cart</div>
        <div><i class="icon-cash" /> icon-cash</div>
        <div><i class="icon-cellular" /> icon-cellular</div>
        <div><i class="icon-chart-bars" /> icon-chart-bars</div>
        <div><i class="icon-chatbox-ellipses" /> icon-chatbox-ellipses</div>
        <div><i class="icon-chatbox" /> icon-chatbox</div>
        <div><i class="icon-chatbubble-ellipses" /> icon-chatbubble-ellipses</div>
        <div><i class="icon-chatbubble" /> icon-chatbubble</div>
        <div><i class="icon-chatbubbles" /> icon-chatbubbles</div>
        <div><i class="icon-check" /> icon-check</div>
        <div><i class="icon-checkbox-checked" /> icon-checkbox-checked</div>
        <div><i class="icon-checkbox" /> icon-checkbox</div>
        <div><i class="icon-checkmark-circle" /> icon-checkmark-circle</div>
        <div><i class="icon-checkmark-done-circle" /> icon-checkmark-done-circle</div>
        <div><i class="icon-checkmark-done" /> icon-checkmark-done</div>
        <div><i class="icon-chevron-collapse" /> icon-chevron-collapse</div>
        <div><i class="icon-chevron-down-circle" /> icon-chevron-down-circle</div>
        <div><i class="icon-chevron-down" /> icon-chevron-down</div>
        <div><i class="icon-chevron-expand" /> icon-chevron-expand</div>
        <div><i class="icon-chevron-left-circle" /> icon-chevron-left-circle</div>
        <div><i class="icon-chevron-left" /> icon-chevron-left</div>
        <div><i class="icon-chevron-right-circle" /> icon-chevron-right-circle</div>
        <div><i class="icon-chevron-right" /> icon-chevron-right</div>
        <div><i class="icon-chevron-up-circle" /> icon-chevron-up-circle</div>
        <div><i class="icon-chevron-up" /> icon-chevron-up</div>
        <div><i class="icon-circle-minus" /> icon-circle-minus</div>
        <div><i class="icon-clipboard" /> icon-clipboard</div>
        <div><i class="icon-clock" /> icon-clock</div>
        <div><i class="icon-close-circle" /> icon-close-circle</div>
        <div><i class="icon-close" /> icon-close</div>
        <div><i class="icon-cloud-check" /> icon-cloud-check</div>
        <div><i class="icon-cloud-circle" /> icon-cloud-circle</div>
        <div><i class="icon-cloud-done" /> icon-cloud-done</div>
        <div><i class="icon-cloud-download" /> icon-cloud-download</div>
        <div><i class="icon-cloud-offline" /> icon-cloud-offline</div>
        <div><i class="icon-cloud-sync" /> icon-cloud-sync</div>
        <div><i class="icon-cloud-upload" /> icon-cloud-upload</div>
        <div><i class="icon-cloud" /> icon-cloud</div>
        <div><i class="icon-cloudy-night" /> icon-cloudy-night</div>
        <div><i class="icon-cloudy" /> icon-cloudy</div>
        <div><i class="icon-code-download" /> icon-code-download</div>
        <div><i class="icon-code-slash" /> icon-code-slash</div>
        <div><i class="icon-code-working" /> icon-code-working</div>
        <div><i class="icon-code" /> icon-code</div>
        <div><i class="icon-coffee-cup" /> icon-coffee-cup</div>
        <div><i class="icon-cog-2" /> icon-cog-2</div>
        <div><i class="icon-cog" /> icon-cog</div>
        <div><i class="icon-color-fill" /> icon-color-fill</div>
        <div><i class="icon-color-filter" /> icon-color-filter</div>
        <div><i class="icon-color-palette" /> icon-color-palette</div>
        <div><i class="icon-color-wand" /> icon-color-wand</div>
        <div><i class="icon-compass" /> icon-compass</div>
        <div><i class="icon-construct" /> icon-construct</div>
        <div><i class="icon-construction" /> icon-construction</div>
        <div><i class="icon-contract" /> icon-contract</div>
        <div><i class="icon-contrast" /> icon-contrast</div>
        <div><i class="icon-copy" /> icon-copy</div>
        <div><i class="icon-create" /> icon-create</div>
        <div><i class="icon-crop" /> icon-crop</div>
        <div><i class="icon-cross-circle" /> icon-cross-circle</div>
        <div><i class="icon-cross" /> icon-cross</div>
        <div><i class="icon-cube" /> icon-cube</div>
        <div><i class="icon-cut" /> icon-cut</div>
        <div><i class="icon-database" /> icon-database</div>
        <div><i class="icon-desktop" /> icon-desktop</div>
        <div><i class="icon-diamond" /> icon-diamond</div>
        <div><i class="icon-dice" /> icon-dice</div>
        <div><i class="icon-dinner" /> icon-dinner</div>
        <div><i class="icon-direction-ltr" /> icon-direction-ltr</div>
        <div><i class="icon-direction-rtl" /> icon-direction-rtl</div>
        <div><i class="icon-disc" /> icon-disc</div>
        <div><i class="icon-document-attach" /> icon-document-attach</div>
        <div><i class="icon-document-lock" /> icon-document-lock</div>
        <div><i class="icon-document-text" /> icon-document-text</div>
        <div><i class="icon-document" /> icon-document</div>
        <div><i class="icon-documents" /> icon-documents</div>
        <div><i class="icon-dots-vertical" /> icon-dots-vertical</div>
        <div><i class="icon-download-cloud" /> icon-download-cloud</div>
        <div><i class="icon-download" /> icon-download</div>
        <div><i class="icon-drop" /> icon-drop</div>
        <div><i class="icon-duplicate" /> icon-duplicate</div>
        <div><i class="icon-ear" /> icon-ear</div>
        <div><i class="icon-earth" /> icon-earth</div>
        <div><i class="icon-easel" /> icon-easel</div>
        <div><i class="icon-edit-2" /> icon-edit-2</div>
        <div><i class="icon-edit" /> icon-edit</div>
        <div><i class="icon-egg" /> icon-egg</div>
        <div><i class="icon-ekantan" /> icon-ekantan</div>
        <div><i class="icon-ellipse" /> icon-ellipse</div>
        <div><i class="icon-ellipsis-horizontal-circle" /> icon-ellipsis-horizontal-circle</div>
        <div><i class="icon-ellipsis-horizontal" /> icon-ellipsis-horizontal</div>
        <div><i class="icon-ellipsis-vertical-circle" /> icon-ellipsis-vertical-circle</div>
        <div><i class="icon-ellipsis-vertical" /> icon-ellipsis-vertical</div>
        <div><i class="icon-enter-down" /> icon-enter-down</div>
        <div><i class="icon-enter" /> icon-enter</div>
        <div><i class="icon-envelope" /> icon-envelope</div>
        <div><i class="icon-exit-up" /> icon-exit-up</div>
        <div><i class="icon-exit" /> icon-exit</div>
        <div><i class="icon-expand" /> icon-expand</div>
        <div><i class="icon-extension-puzzle" /> icon-extension-puzzle</div>
        <div><i class="icon-eye-off" /> icon-eye-off</div>
        <div><i class="icon-eye" /> icon-eye</div>
        <div><i class="icon-eyedrop" /> icon-eyedrop</div>
        <div><i class="icon-fast-food" /> icon-fast-food</div>
        <div><i class="icon-female" /> icon-female</div>
        <div><i class="icon-file-add" /> icon-file-add</div>
        <div><i class="icon-file-empty" /> icon-file-empty</div>
        <div><i class="icon-file-tray-full" /> icon-file-tray-full</div>
        <div><i class="icon-file-tray-stacked" /> icon-file-tray-stacked</div>
        <div><i class="icon-file-tray" /> icon-file-tray</div>
        <div><i class="icon-film-play" /> icon-film-play</div>
        <div><i class="icon-film" /> icon-film</div>
        <div><i class="icon-filter-circle" /> icon-filter-circle</div>
        <div><i class="icon-filter-lines" /> icon-filter-lines</div>
        <div><i class="icon-filter" /> icon-filter</div>
        <div><i class="icon-finger-print" /> icon-finger-print</div>
        <div><i class="icon-fish" /> icon-fish</div>
        <div><i class="icon-fitness" /> icon-fitness</div>
        <div><i class="icon-flag" /> icon-flag</div>
        <div><i class="icon-flame" /> icon-flame</div>
        <div><i class="icon-flash-off" /> icon-flash-off</div>
        <div><i class="icon-flash" /> icon-flash</div>
        <div><i class="icon-flashlight" /> icon-flashlight</div>
        <div><i class="icon-flask" /> icon-flask</div>
        <div><i class="icon-flower" /> icon-flower</div>
        <div><i class="icon-folder-open" /> icon-folder-open</div>
        <div><i class="icon-folder" /> icon-folder</div>
        <div><i class="icon-football" /> icon-football</div>
        <div><i class="icon-footsteps" /> icon-footsteps</div>
        <div><i class="icon-frame-contract" /> icon-frame-contract</div>
        <div><i class="icon-frame-expand" /> icon-frame-expand</div>
        <div><i class="icon-funnel" /> icon-funnel</div>
        <div><i class="icon-game-controller" /> icon-game-controller</div>
        <div><i class="icon-gift" /> icon-gift</div>
        <div><i class="icon-git-branch" /> icon-git-branch</div>
        <div><i class="icon-git-commit" /> icon-git-commit</div>
        <div><i class="icon-git-compare" /> icon-git-compare</div>
        <div><i class="icon-git-merge" /> icon-git-merge</div>
        <div><i class="icon-git-network" /> icon-git-network</div>
        <div><i class="icon-git-pull-request" /> icon-git-pull-request</div>
        <div><i class="icon-glasses" /> icon-glasses</div>
        <div><i class="icon-globe" /> icon-globe</div>
        <div><i class="icon-golf" /> icon-golf</div>
        <div><i class="icon-graduation-hat" /> icon-graduation-hat</div>
        <div><i class="icon-grid" /> icon-grid</div>
        <div><i class="icon-hammer" /> icon-hammer</div>
        <div><i class="icon-hand-left" /> icon-hand-left</div>
        <div><i class="icon-hand-right" /> icon-hand-right</div>
        <div><i class="icon-hand" /> icon-hand</div>
        <div><i class="icon-happy" /> icon-happy</div>
        <div><i class="icon-hardware-chip" /> icon-hardware-chip</div>
        <div><i class="icon-headset" /> icon-headset</div>
        <div><i class="icon-heart-circle" /> icon-heart-circle</div>
        <div><i class="icon-heart-dislike-circle" /> icon-heart-dislike-circle</div>
        <div><i class="icon-heart-dislike" /> icon-heart-dislike</div>
        <div><i class="icon-heart-half" /> icon-heart-half</div>
        <div><i class="icon-heart-pulse" /> icon-heart-pulse</div>
        <div><i class="icon-heart" /> icon-heart</div>
        <div><i class="icon-help-buoy" /> icon-help-buoy</div>
        <div><i class="icon-help-circle" /> icon-help-circle</div>
        <div><i class="icon-help" /> icon-help</div>
        <div><i class="icon-highlight" /> icon-highlight</div>
        <div><i class="icon-history" /> icon-history</div>
        <div><i class="icon-home" /> icon-home</div>
        <div><i class="icon-hourglass" /> icon-hourglass</div>
        <div><i class="icon-ice-cream" /> icon-ice-cream</div>
        <div><i class="icon-id-card" /> icon-id-card</div>
        <div><i class="icon-image" /> icon-image</div>
        <div><i class="icon-images" /> icon-images</div>
        <div><i class="icon-inbox" /> icon-inbox</div>
        <div><i class="icon-indent-decrease" /> icon-indent-decrease</div>
        <div><i class="icon-indent-increase" /> icon-indent-increase</div>
        <div><i class="icon-infinite" /> icon-infinite</div>
        <div><i class="icon-infinity" /> icon-infinity</div>
        <div><i class="icon-info-circle" /> icon-info-circle</div>
        <div><i class="icon-information-circle" /> icon-information-circle</div>
        <div><i class="icon-information" /> icon-information</div>
        <div><i class="icon-invert-mode" /> icon-invert-mode</div>
        <div><i class="icon-italic" /> icon-italic</div>
        <div><i class="icon-journal" /> icon-journal</div>
        <div><i class="icon-key" /> icon-key</div>
        <div><i class="icon-keyboard" /> icon-keyboard</div>
        <div><i class="icon-keypad" /> icon-keypad</div>
        <div><i class="icon-language" /> icon-language</div>
        <div><i class="icon-laptop-phone" /> icon-laptop-phone</div>
        <div><i class="icon-laptop" /> icon-laptop</div>
        <div><i class="icon-layer-group" /> icon-layer-group</div>
        <div><i class="icon-layer" /> icon-layer</div>
        <div><i class="icon-layers" /> icon-layers</div>
        <div><i class="icon-leaf" /> icon-leaf</div>
        <div><i class="icon-library" /> icon-library</div>
        <div><i class="icon-license" /> icon-license</div>
        <div><i class="icon-lighter" /> icon-lighter</div>
        <div><i class="icon-lightning" /> icon-lightning</div>
        <div><i class="icon-line-spacing" /> icon-line-spacing</div>
        <div><i class="icon-linearicons" /> icon-linearicons</div>
        <div><i class="icon-link" /> icon-link</div>
        <div><i class="icon-list-circle" /> icon-list-circle</div>
        <div><i class="icon-list" /> icon-list</div>
        <div><i class="icon-loading" /> icon-loading</div>
        <div><i class="icon-locate" /> icon-locate</div>
        <div><i class="icon-location" /> icon-location</div>
        <div><i class="icon-lock-closed" /> icon-lock-closed</div>
        <div><i class="icon-lock-open" /> icon-lock-open</div>
        <div><i class="icon-lock" /> icon-lock</div>
        <div><i class="icon-login" /> icon-login</div>
        <div><i class="icon-logout" /> icon-logout</div>
        <div><i class="icon-magic-wand" /> icon-magic-wand</div>
        <div><i class="icon-magnet" /> icon-magnet</div>
        <div><i class="icon-magnifier" /> icon-magnifier</div>
        <div><i class="icon-mail-open" /> icon-mail-open</div>
        <div><i class="icon-mail-unread" /> icon-mail-unread</div>
        <div><i class="icon-mail" /> icon-mail</div>
        <div><i class="icon-male-female" /> icon-male-female</div>
        <div><i class="icon-male" /> icon-male</div>
        <div><i class="icon-man" /> icon-man</div>
        <div><i class="icon-map-marker" /> icon-map-marker</div>
        <div><i class="icon-map" /> icon-map</div>
        <div><i class="icon-medal" /> icon-medal</div>
        <div><i class="icon-medical" /> icon-medical</div>
        <div><i class="icon-medkit" /> icon-medkit</div>
        <div><i class="icon-megaphone" /> icon-megaphone</div>
        <div><i class="icon-menu-circle" /> icon-menu-circle</div>
        <div><i class="icon-menu" /> icon-menu</div>
        <div><i class="icon-mic-circle" /> icon-mic-circle</div>
        <div><i class="icon-mic-off-circle" /> icon-mic-off-circle</div>
        <div><i class="icon-mic-off" /> icon-mic-off</div>
        <div><i class="icon-mic" /> icon-mic</div>
        <div><i class="icon-moon" /> icon-moon</div>
        <div><i class="icon-move" /> icon-move</div>
        <div><i class="icon-music-note" /> icon-music-note</div>
        <div><i class="icon-musical-note" /> icon-musical-note</div>
        <div><i class="icon-musical-notes" /> icon-musical-notes</div>
        <div><i class="icon-mustache" /> icon-mustache</div>
        <div><i class="icon-navigate-circle" /> icon-navigate-circle</div>
        <div><i class="icon-navigate" /> icon-navigate</div>
        <div><i class="icon-neutral" /> icon-neutral</div>
        <div><i class="icon-newspaper" /> icon-newspaper</div>
        <div><i class="icon-notifications-circle" /> icon-notifications-circle</div>
        <div><i class="icon-notifications-off-circle" /> icon-notifications-off-circle</div>
        <div><i class="icon-notifications-off" /> icon-notifications-off</div>
        <div><i class="icon-notifications" /> icon-notifications</div>
        <div><i class="icon-nuclear" /> icon-nuclear</div>
        <div><i class="icon-nutrition" /> icon-nutrition</div>
        <div><i class="icon-open" /> icon-open</div>
        <div><i class="icon-options" /> icon-options</div>
        <div><i class="icon-page-break" /> icon-page-break</div>
        <div><i class="icon-paper-plane" /> icon-paper-plane</div>
        <div><i class="icon-paperclip" /> icon-paperclip</div>
        <div><i class="icon-partly-sunny" /> icon-partly-sunny</div>
        <div><i class="icon-pause-circle" /> icon-pause-circle</div>
        <div><i class="icon-pause" /> icon-pause</div>
        <div><i class="icon-paw" /> icon-paw</div>
        <div><i class="icon-pencil" /> icon-pencil</div>
        <div><i class="icon-people-circle" /> icon-people-circle</div>
        <div><i class="icon-people" /> icon-people</div>
        <div><i class="icon-person-add" /> icon-person-add</div>
        <div><i class="icon-person-circle" /> icon-person-circle</div>
        <div><i class="icon-person-remove" /> icon-person-remove</div>
        <div><i class="icon-person" /> icon-person</div>
        <div><i class="icon-phone-handset" /> icon-phone-handset</div>
        <div><i class="icon-phone-landscape" /> icon-phone-landscape</div>
        <div><i class="icon-phone-portrait" /> icon-phone-portrait</div>
        <div><i class="icon-phone" /> icon-phone</div>
        <div><i class="icon-picture" /> icon-picture</div>
        <div><i class="icon-pie-chart" /> icon-pie-chart</div>
        <div><i class="icon-pilcrow" /> icon-pilcrow</div>
        <div><i class="icon-pin" /> icon-pin</div>
        <div><i class="icon-pint" /> icon-pint</div>
        <div><i class="icon-pizza" /> icon-pizza</div>
        <div><i class="icon-planet" /> icon-planet</div>
        <div><i class="icon-play-back-circle" /> icon-play-back-circle</div>
        <div><i class="icon-play-back" /> icon-play-back</div>
        <div><i class="icon-play-circle" /> icon-play-circle</div>
        <div><i class="icon-play-forward-circle" /> icon-play-forward-circle</div>
        <div><i class="icon-play-forward" /> icon-play-forward</div>
        <div><i class="icon-play-skip-back-circle" /> icon-play-skip-back-circle</div>
        <div><i class="icon-play-skip-back" /> icon-play-skip-back</div>
        <div><i class="icon-play-skip-forward-circle" /> icon-play-skip-forward-circle</div>
        <div><i class="icon-play-skip-forward" /> icon-play-skip-forward</div>
        <div><i class="icon-play" /> icon-play</div>
        <div><i class="icon-plus-circle" /> icon-plus-circle</div>
        <div><i class="icon-podium" /> icon-podium</div>
        <div><i class="icon-pointer-down" /> icon-pointer-down</div>
        <div><i class="icon-pointer-left" /> icon-pointer-left</div>
        <div><i class="icon-pointer-right" /> icon-pointer-right</div>
        <div><i class="icon-pointer-up" /> icon-pointer-up</div>
        <div><i class="icon-poop" /> icon-poop</div>
        <div><i class="icon-power-switch" /> icon-power-switch</div>
        <div><i class="icon-power" /> icon-power</div>
        <div><i class="icon-pricetag" /> icon-pricetag</div>
        <div><i class="icon-pricetags" /> icon-pricetags</div>
        <div><i class="icon-print" /> icon-print</div>
        <div><i class="icon-printer" /> icon-printer</div>
        <div><i class="icon-prism" /> icon-prism</div>
        <div><i class="icon-pulse" /> icon-pulse</div>
        <div><i class="icon-push" /> icon-push</div>
        <div><i class="icon-pushpin" /> icon-pushpin</div>
        <div><i class="icon-qr-code" /> icon-qr-code</div>
        <div><i class="icon-radio-box-checked" /> icon-radio-box-checked</div>
        <div><i class="icon-radio-button-off" /> icon-radio-button-off</div>
        <div><i class="icon-radio-button-on" /> icon-radio-button-on</div>
        <div><i class="icon-radio" /> icon-radio</div>
        <div><i class="icon-rainy" /> icon-rainy</div>
        <div><i class="icon-reader" /> icon-reader</div>
        <div><i class="icon-receipt" /> icon-receipt</div>
        <div><i class="icon-recording" /> icon-recording</div>
        <div><i class="icon-redo" /> icon-redo</div>
        <div><i class="icon-refresh-circle" /> icon-refresh-circle</div>
        <div><i class="icon-refresh" /> icon-refresh</div>
        <div><i class="icon-reload-circle" /> icon-reload-circle</div>
        <div><i class="icon-reload" /> icon-reload</div>
        <div><i class="icon-remove-circle" /> icon-remove-circle</div>
        <div><i class="icon-remove" /> icon-remove</div>
        <div><i class="icon-reorder-four" /> icon-reorder-four</div>
        <div><i class="icon-reorder-three" /> icon-reorder-three</div>
        <div><i class="icon-reorder-two" /> icon-reorder-two</div>
        <div><i class="icon-repeat" /> icon-repeat</div>
        <div><i class="icon-resize" /> icon-resize</div>
        <div><i class="icon-restaurant" /> icon-restaurant</div>
        <div><i class="icon-return-down-back" /> icon-return-down-back</div>
        <div><i class="icon-return-down-forward" /> icon-return-down-forward</div>
        <div><i class="icon-return-up-back" /> icon-return-up-back</div>
        <div><i class="icon-return-up-forward" /> icon-return-up-forward</div>
        <div><i class="icon-ribbon" /> icon-ribbon</div>
        <div><i class="icon-rocket" /> icon-rocket</div>
        <div><i class="icon-rose" /> icon-rose</div>
        <div><i class="icon-sad" /> icon-sad</div>
        <div><i class="icon-save" /> icon-save</div>
        <div><i class="icon-scale" /> icon-scale</div>
        <div><i class="icon-scan-circle" /> icon-scan-circle</div>
        <div><i class="icon-scan" /> icon-scan</div>
        <div><i class="icon-school" /> icon-school</div>
        <div><i class="icon-screen" /> icon-screen</div>
        <div><i class="icon-search-circle" /> icon-search-circle</div>
        <div><i class="icon-search" /> icon-search</div>
        <div><i class="icon-select" /> icon-select</div>
        <div><i class="icon-send" /> icon-send</div>
        <div><i class="icon-server" /> icon-server</div>
        <div><i class="icon-setting" /> icon-setting</div>
        <div><i class="icon-settings" /> icon-settings</div>
        <div><i class="icon-shapes" /> icon-shapes</div>
        <div><i class="icon-share-social" /> icon-share-social</div>
        <div><i class="icon-share" /> icon-share</div>
        <div><i class="icon-shield-checkmark" /> icon-shield-checkmark</div>
        <div><i class="icon-shield-half" /> icon-shield-half</div>
        <div><i class="icon-shield" /> icon-shield</div>
        <div><i class="icon-shirt" /> icon-shirt</div>
        <div><i class="icon-shuffle" /> icon-shuffle</div>
        <div><i class="icon-skull" /> icon-skull</div>
        <div><i class="icon-smartphone" /> icon-smartphone</div>
        <div><i class="icon-smile" /> icon-smile</div>
        <div><i class="icon-snow" /> icon-snow</div>
        <div><i class="icon-sort-alpha-asc" /> icon-sort-alpha-asc</div>
        <div><i class="icon-sort-amount-asc" /> icon-sort-amount-asc</div>
        <div><i class="icon-sparkles" /> icon-sparkles</div>
        <div><i class="icon-speedometer" /> icon-speedometer</div>
        <div><i class="icon-spell-check" /> icon-spell-check</div>
        <div><i class="icon-square" /> icon-square</div>
        <div><i class="icon-star-empty" /> icon-star-empty</div>
        <div><i class="icon-star-half" /> icon-star-half</div>
        <div><i class="icon-star" /> icon-star</div>
        <div><i class="icon-stats-chart" /> icon-stats-chart</div>
        <div><i class="icon-stop-circle" /> icon-stop-circle</div>
        <div><i class="icon-stop" /> icon-stop</div>
        <div><i class="icon-stopwatch" /> icon-stopwatch</div>
        <div><i class="icon-store" /> icon-store</div>
        <div><i class="icon-storefront" /> icon-storefront</div>
        <div><i class="icon-strikethrough" /> icon-strikethrough</div>
        <div><i class="icon-subway" /> icon-subway</div>
        <div><i class="icon-sun" /> icon-sun</div>
        <div><i class="icon-sunny" /> icon-sunny</div>
        <div><i class="icon-switch-horizontal" /> icon-switch-horizontal</div>
        <div><i class="icon-switch-vertical" /> icon-switch-vertical</div>
        <div><i class="icon-sync-circle" /> icon-sync-circle</div>
        <div><i class="icon-sync" /> icon-sync</div>
        <div><i class="icon-tablet-landscape" /> icon-tablet-landscape</div>
        <div><i class="icon-tablet-portrait" /> icon-tablet-portrait</div>
        <div><i class="icon-tablet" /> icon-tablet</div>
        <div><i class="icon-tag" /> icon-tag</div>
        <div><i class="icon-telescope" /> icon-telescope</div>
        <div><i class="icon-tennisball" /> icon-tennisball</div>
        <div><i class="icon-terminal" /> icon-terminal</div>
        <div><i class="icon-text-align-center" /> icon-text-align-center</div>
        <div><i class="icon-text-align-justify" /> icon-text-align-justify</div>
        <div><i class="icon-text-align-left" /> icon-text-align-left</div>
        <div><i class="icon-text-align-right" /> icon-text-align-right</div>
        <div><i class="icon-text-format-remove" /> icon-text-format-remove</div>
        <div><i class="icon-text-format" /> icon-text-format</div>
        <div><i class="icon-text-size" /> icon-text-size</div>
        <div><i class="icon-text" /> icon-text</div>
        <div><i class="icon-theme" /> icon-theme</div>
        <div><i class="icon-thermometer" /> icon-thermometer</div>
        <div><i class="icon-thumbs-down" /> icon-thumbs-down</div>
        <div><i class="icon-thumbs-up" /> icon-thumbs-up</div>
        <div><i class="icon-thunderstorm" /> icon-thunderstorm</div>
        <div><i class="icon-ticket" /> icon-ticket</div>
        <div><i class="icon-time" /> icon-time</div>
        <div><i class="icon-timer" /> icon-timer</div>
        <div><i class="icon-today" /> icon-today</div>
        <div><i class="icon-toggle" /> icon-toggle</div>
        <div><i class="icon-trail-sign" /> icon-trail-sign</div>
        <div><i class="icon-train" /> icon-train</div>
        <div><i class="icon-transgender" /> icon-transgender</div>
        <div><i class="icon-translate" /> icon-translate</div>
        <div><i class="icon-trash-bin" /> icon-trash-bin</div>
        <div><i class="icon-trash" /> icon-trash</div>
        <div><i class="icon-trending-down" /> icon-trending-down</div>
        <div><i class="icon-trending-up" /> icon-trending-up</div>
        <div><i class="icon-triangle" /> icon-triangle</div>
        <div><i class="icon-trophy" /> icon-trophy</div>
        <div><i class="icon-tv" /> icon-tv</div>
        <div><i class="icon-umbrella" /> icon-umbrella</div>
        <div><i class="icon-underline" /> icon-underline</div>
        <div><i class="icon-undo" /> icon-undo</div>
        <div><i class="icon-unlink" /> icon-unlink</div>
        <div><i class="icon-upload" /> icon-upload</div>
        <div><i class="icon-user" /> icon-user</div>
        <div><i class="icon-users" /> icon-users</div>
        <div><i class="icon-videocam-off" /> icon-videocam-off</div>
        <div><i class="icon-videocam" /> icon-videocam</div>
        <div><i class="icon-volume-high" /> icon-volume-high</div>
        <div><i class="icon-volume-low" /> icon-volume-low</div>
        <div><i class="icon-volume-medium" /> icon-volume-medium</div>
        <div><i class="icon-volume-mute" /> icon-volume-mute</div>
        <div><i class="icon-volume-off" /> icon-volume-off</div>
        <div><i class="icon-volume" /> icon-volume</div>
        <div><i class="icon-walk" /> icon-walk</div>
        <div><i class="icon-wallet" /> icon-wallet</div>
        <div><i class="icon-warning" /> icon-warning</div>
        <div><i class="icon-watch" /> icon-watch</div>
        <div><i class="icon-water" /> icon-water</div>
        <div><i class="icon-wheelchair" /> icon-wheelchair</div>
        <div><i class="icon-wifi" /> icon-wifi</div>
        <div><i class="icon-wine" /> icon-wine</div>
        <div><i class="icon-woman" /> icon-woman</div>
        <div><i class="icon-x-close" /> icon-x-close</div>
    </div>
</template>
