<script setup lang="ts">
import {ref} from 'vue';
import {modalPositions} from "../mockup";

const position = ref(modalPositions[0]);
const transparent = ref(false);
const isShowModal = ref(false)
const isShowDialog = ref(false)
</script>
<template>
    <div class="form">
        <div class="form__heading">
            Preview
        </div>
        <div class="form__section">
            <ComButton @click="isShowModal = true">Show modal</ComButton>
            <ComButton @click="isShowDialog = true">Show dialog</ComButton>
        </div>
        <div class="form__heading">
            Props
        </div>
        <div class="form__section">
            <div class="form__item">
                <label>Position</label>
                <ComSelectBox
                    :options="modalPositions"
                    v-model="position"/>
            </div>
            <div class="form__item">
                <label>Transparent background</label>
                <ComSwitcher
                    v-model="transparent"
                />
            </div>
        </div>

    </div>
    <ComModal
        :visible="isShowModal"
        :position="position.value"
        :transparent="transparent"
    >
        <div class="modable">
            <div class="card">
                <div class="card__header flex justify-between items-center">
                    Hello from modal!
                    <i class="icon-close text-2xl cursor-pointer" @click="isShowModal = false"/>
                </div>
                <div class="card__body">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </div>
            </div>
        </div>
    </ComModal>
    <ComModal
        :visible="isShowDialog"
        :position="position.value"
        :transparent="transparent"
    >
        <div class="modable">
            <div class="card">
                <div class="card__header flex justify-between items-center">
                    Hello from modal!
                    <i class="icon-close text-2xl cursor-pointer" @click="isShowDialog = false"/>
                </div>
                <div class="card__body">
                    Are you sure you want to deactivate your account?
                    All of your data will be permanently removed.
                    This action cannot be undone.
                    <div class="flex justify-center mt-3 gap-2">
                        <ComButton
                            class="comButton--danger comButton--sm"
                            @click="isShowDialog = false">
                            Deactive</ComButton>
                        <ComButton
                            class="comButton--sm"
                            @click="isShowDialog = false"
                        >Cancel</ComButton>
                    </div>
                </div>
            </div>
        </div>
    </ComModal>
</template>
