<script setup lang="ts">
import {ref} from "vue";
import {selectOptions} from "../mockup";

const selectedOption = ref(selectOptions[0])
</script>
<template>
    <div class="form form--vertical">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Option</label>
                <ComRadio
                    :options="selectOptions"
                    v-model="selectedOption"
                />
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Options</label>
                <code>
                    {{ JSON.stringify(selectOptions)}}
                </code>
            </div>
            <div class="form__item">
                <label>Model</label>
                <code>
                    {{ JSON.stringify(selectedOption)}}
                </code>
            </div>
        </div>
    </div>
</template>
