<script setup lang="ts">
import {ref} from 'vue';
import {buttonSizes, buttonStyles} from "../mockup";
import {ButtonStyle} from "modable";

const state = ref({
    type: undefined,
    size: undefined,
    delayTime: 0,
    disabled: false
});
const style = ref(buttonStyles[0]);
const size = ref(buttonSizes[0]);
const styleCustom = ref<string>('--color:#ffff;\n' +
    '--colorHover:#ffff;\n' +
    '--bgColor:#d5788f;\n' +
    '--bgColorHover:#c78f9d;\n' +
    '--colorDisable: #ffff;\n' +
    '--bgColorDisable: #c3afb4;\n' +
    '--boxShadowColor:#cea4ae;');
const onClick = () => {
    alert('Button clicked')
}
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <ComButton
                :type="state.type"
                :size="state.size"
                :delay-time="state.delayTime"
                :disabled="state.disabled"
                :style="style.value.toString() === ButtonStyle.CUSTOM ? styleCustom.toString() : null"
                @click="onClick"
            >
                Click me
            </ComButton>

            <ComButton
                :type="state.type"
                :size="state.size"
                :delay-time="state.delayTime"
                :disabled="state.disabled"
                :style="style.value.toString() === ButtonStyle.CUSTOM ? styleCustom.toString() : null"
                @click="onClick"
            >
                <i class="icon-save"></i>
            </ComButton>

            <ComButton
                :type="state.type"
                :size="state.size"
                :delay-time="state.delayTime"
                :disabled="state.disabled"
                :style="style.value.toString() === ButtonStyle.CUSTOM ? styleCustom.toString() : null"
                @click="onClick"
            >
                <i class="icon-loading animate-spin"></i> Saving
            </ComButton>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Style</label>
                <ComSelectBox
                    :options="buttonStyles"
                    v-model="style"
                    @update:model-value="state.type = $event.value"
                />
            </div>
            <div class="form__item">
                <label>Size</label>
                <ComSelectBox
                    :options="buttonSizes"
                    v-model="size"
                    @update:model-value="state.size = $event.value"
                />
            </div>
            <div class="form__item">
                <label>Delay time(ms)</label>
                <ComTextBox
                    v-model="state.delayTime"
                    :input-type="'number'"
                />
            </div>
            <div class="form__item">
                <label>Disabled</label>
                <ComSwitcher
                    v-model="state.disabled"
                />
            </div>
            <div v-if="style.value === ButtonStyle.CUSTOM" class="form__item">
                <label>Custom css variables</label>
                <ComTextArea
                    style="width: 300px; height: 250px"
                    v-model="styleCustom"
                />
            </div>
        </div>
    </div>
</template>
