<script setup lang="ts">
import {selectOptions} from "../mockup";
const onClick = (item: any) => {
    console.log('clicked', item)
}
</script>
<template>
   <ComList :list="selectOptions" :on-click="onClick"/>
</template>
