<script setup lang="ts">
import {ref} from "vue";
import {tagStyles} from "../mockup";

const tags = ref(tagStyles)
</script>
<template>
    <div>
        <div class="flex gap-2">
            <ComTag
                v-for="(item, index) in tags"
                :key="index"
                :class="item.value"
                :data="item"
                :on-close="(payload: any) => {
                    tags = tags.filter(tag => {
                        return tag.value !== payload.value
                    })
                }"
            >
                {{ item.name }}
            </ComTag>
        </div>
    </div>
</template>
