<script setup lang="ts">
import {inject, ref} from 'vue'
import {NotificationStore} from "modable";
import {notificationPositions, notificationStyles} from "../mockup";
// @ts-ignore
const store: typeof NotificationStore = inject('NotificationState')
const position = ref(notificationPositions[0]);
const type = ref(notificationStyles[0]);
const autoClose = ref(true);
const delayTime = ref(5000);
const addNotification = () => {
    store.actions.dispatchNotification(
        'Lorem Ipsum!',
        'Lorem Ipsum is simply dummy text of the printing and typesetting industry.',
        type.value.value,
        autoClose.value,
        delayTime.value
    );
}
</script>
<template>
    <NotificationProvider :position="position.value"/>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <ComButton @click="addNotification()"
            >
                Add Notification
            </ComButton>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Type</label>
                <ComSelectBox
                    :options="notificationStyles"
                    v-model="type"
                />
            </div>
            <div class="form__item">
                <label>Position</label>
                <ComSelectBox
                    :options="notificationPositions"
                    v-model="position"
                />
            </div>
            <div class="form__item">
                <label>Auto close</label>
                <ComSwitcher v-model="autoClose"/>
            </div>
            <div class="form__item">
                <label>Delay time(ms)</label>
                <ComTextBox v-model="delayTime"/>
            </div>
        </div>
    </div>
</template>
