<script setup lang="ts">
import {onMounted, ref} from "vue";
import {selectOptions} from "../mockup";
import {Option} from "modable";

const options = ref<Option[]>([]);
const selectedOption = ref<Option | undefined>();

onMounted(() => {
    options.value = selectOptions
})
const handleSearch = (search: string) => {
    setTimeout(() => {
        options.value = []
        for (let i = 0; i < selectOptions.length; i++) {
            if (selectOptions[i].name.includes(search)) {
                options.value.push(selectOptions[i])
            }
        }
    }, 500)

}
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Select</label>
                <ComSelectBox
                    style="width: 300px"
                    :options="options"
                    v-model="selectedOption"
                />
            </div>
            <div class="form__item">
                <label>Select with search</label>
                <ComSelectBox
                    style="width: 300px"
                    :options="options"
                    v-model="selectedOption"
                    :on-search="handleSearch"
                />
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Options</label>
                <code>
                    {{ JSON.stringify(selectOptions)}}
                </code>
            </div>
            <div class="form__item">
                <label>Model</label>
                <code>
                    {{ JSON.stringify(selectedOption)}}
                </code>
            </div>
        </div>
    </div>
</template>
