<script setup lang="ts">
import {ref} from "vue";
const percent = ref(30)
const showPercent = ref(true)
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <ComProgressBar :percent="percent" :showPercent="showPercent"/>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Percent</label>
                <ComTextBox v-model="percent"/>
            </div>
            <div class="form__item">
                <label>Show percent</label>
                <ComSwitcher v-model="showPercent"/>
            </div>
        </div>

    </div>
</template>
