<script setup lang="ts">
import {ref} from "vue";
import {selectOptions} from "../mockup";

const selectedOptions = ref([selectOptions[2], selectOptions[3]])
</script>
<template>
    <div class="form form--vertical">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Options</label>
                <ComCheckBox
                    :options="selectOptions"
                    v-model="selectedOptions"
                />
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
            <div class="form__item">
                <label>Options</label>
                <code>
                    {{ JSON.stringify(selectOptions)}}
                </code>
            </div>
            <div class="form__item">
                <label>Model</label>
                <code>
                    {{ JSON.stringify(selectedOptions)}}
                </code>
            </div>
        </div>
    </div>
</template>
