<script setup lang="ts">
import {ref} from "vue";
const date = ref('2024-01-01');
const time = ref('09:20');
const datetime = ref('2024-01-01 00:00');
</script>
<template>
    <div class="form">
        <div class="form__heading">Preview</div>
        <div class="form__section">
            <div class="form__item">
                <label>Datetime picker</label>
                <ComDatetimePicker
                    v-model="datetime"
                />
            </div>
            <div class="form__item">
                <label>Date picker</label>
                <ComDatetimePicker
                    type="date"
                    :start-year="2020"
                    :end-year="2025"
                    v-model="date"
                />
            </div>

            <div class="form__item">
                <label>Time picker</label>
                <ComDatetimePicker
                    type="time"
                    v-model="time"
                />
            </div>
        </div>
        <div class="form__heading">Props</div>
        <div class="form__section">
        </div>
    </div>
</template>
