<script setup lang="ts">
</script>
<template>
    <p class="card p-5">
        Modable is a UI library for Vue 3.
        It is a collection of components that can be used to build web applications.
        Modable is designed to be easy to use and customizable event for beginners.
        Modable is a work in progress and is constantly being updated and improved.
        If you have any feedback or suggestions, please let me know. I would love to hear from you.
    </p>
    <p class="p-5 text-right">
        Developed by <a class="text-teal-500" href="https://papay.vn" target="_blank">ThaiNPH</a>
    </p>
</template>
