<script setup lang="ts">
import {watch} from 'vue'
import {SelectMultipleProps} from '../../../definition/props'

import {useSelectMultiple} from "../../../logic/select";
const props = defineProps<SelectMultipleProps>()
const emit = defineEmits(['update:modelValue'])

const {selectedOptions, sourceOptions, syncSelectedOptions, syncOptions} = useSelectMultiple({
    modelValue: props.modelValue,
    options: props.options
});

watch(() => props.modelValue, payload => {
    syncSelectedOptions(payload)
})

watch(() => props.options, payload => {
    syncOptions(payload)
})

const onClick = () => {
    selectedOptions.value = sourceOptions.value.filter(item => {
        return item.is_selected === true
    })

    emit('update:modelValue', selectedOptions.value)
}
</script>
<template>
    <div class="comCheckBox">
        <label
            v-for="option in sourceOptions"
            :key="option.value"
        >
            <input
                type="checkbox"
                v-model="option.is_selected"
                :value="option.value"
                @change="onClick"
            />
            <span class="comCheckBox__checkMark icon-checkbox-checked"></span>
            <span class="comCheckBox__label">{{ option.name }}</span>
        </label>
    </div>
</template>
