<script setup lang="ts">
import {ref, watch} from "vue";
import {ModalProps} from "../../../definition/props";
import {ModalPosition} from "../../../definition/enums";

const props = defineProps<ModalProps>()
const isShow = ref(props.visible)
watch(() => props.visible, payload => {
    isShow.value = payload
})
</script>
<template>
    <Teleport to="body">
        <Transition name="modalTransition">
            <div v-if="isShow"
                 class="comModal"
                 :class="[
                     props.transparent ? 'comModal--transparent' : null,
                     props.position ?? ModalPosition.CENTER
                 ]"
            >
                <div class="comModal__content">
                    <slot></slot>
                </div>
            </div>
        </Transition>
    </Teleport>
</template>
