<script setup lang="ts">
import {DatetimePickerProps} from "../../../definition/props";
import ComDropdown from "../../atoms/dropdown/ComDropdown.vue";
import {DropdownTrigger} from "../../../definition/enums.ts";
import {useDatetimePicker} from "../../../logic/datetimePicker.ts";
import {ref, watch} from "vue";
import ComButton from "../../atoms/button/ComButton.vue";
import ComSelectBox from "../../atoms/select-box/ComSelectBox.vue";
import {Option} from "../../../definition/types.ts";

const props = withDefaults(defineProps<DatetimePickerProps>(), {
    type: 'datetime',
})

const {
    date,
    utcDate,
    month,
    year,
    hour,
    minute,
    daysOfWeek,
    matrix,
    monthOptions,
    yearOptions,
    hourOptions,
    minuteOptions,
    prevMonth,
    nextMonth,
    init,
    convertDateToString,
    convertLocalDateToUtcDate,
    onSelectDate,
    onSelectMinute,
    onSelectHour,
    onSelectMonth,
    onSelectYear,
} = useDatetimePicker(props);

const content = ref(props.modelValue);
const emit = defineEmits(['update:modelValue'])
const setDateIsToday = () => {
    init()
    utcDate.value = convertLocalDateToUtcDate(date.value)
    content.value = convertDateToString(utcDate.value)
    emit('update:modelValue', content.value)
}
init(props.modelValue)

watch(() => props.modelValue, (value) => {
    init(value)
})

watch(() => utcDate.value , (payload: Date) => {
    content.value = convertDateToString(payload)
    emit('update:modelValue', content.value)
})

</script>
<template>
    <div class="comDatetimePicker">
        <ComDropdown
            :trigger="DropdownTrigger.CLICK"
            :display-fixed="true"
        >
            <template #default>
                <slot
                    name="default"
                    :date="date"
                >
                    <ComButton class="comDatetimePicker__trigger">
                        <i v-if="props.type !== 'time'" class="icon-calendar"></i>
                        <i v-else class="icon-clock"></i>
                        {{ convertDateToString(date) }}
                    </ComButton>
                </slot>
            </template>
            <template #dropdown>
                <div class="card">
                    <div v-if="props.type !== 'time'" class="card__header flex justify-between">
                        <div class="flex gap-1">
                            <ComSelectBox
                                v-model="month"
                                :options="monthOptions"
                                @update:modelValue="onSelectMonth"
                            />
                            <ComSelectBox
                                v-model="year"
                                :options="yearOptions"
                                @update:modelValue="onSelectYear"
                            />
                        </div>
                        <div class="flex gap-2">
                            <i @click="prevMonth" class="icon-chevron-left cursor-pointer"/>
                            <i @click="nextMonth" class="icon-chevron-right cursor-pointer"/>
                            <i @click="setDateIsToday" class="icon-reload cursor-pointer"/>
                        </div>
                    </div>
                    <div v-else class="card__header flex items-center justify-between">
                        <i class="icon-clock"/>
                        <i @click="setDateIsToday" class="icon-reload cursor-pointer"/>
                    </div>
                    <div class="card__body flex flex-col items-center">
                        <div v-if="props.type !== 'time'"  class="dateMatrix">
                            <div class="dateMatrix__row dateMatrix__header">
                                <div v-for="day of daysOfWeek" class="dateMatrix__item">{{ day }}</div>
                            </div>
                            <div v-for="row of matrix" class="dateMatrix__row">
                                <div v-for="item of row"
                                     @click="onSelectDate(item)"
                                     class="dateMatrix__item can-select"
                                     :class="[
                                        item.isToday ? 'is-today' : null,
                                        item.isSelected ? 'is-selected' : null,
                                        item.isDisabled ? 'is-disabled' : null,
                                    ]"
                                >
                                    {{ item.date.getDate() }}
                                </div>
                            </div>
                        </div>
                        <div v-if="props.type !== 'date'"  class="timePicker">
                            <ComSelectBox
                                v-model="hour"
                                :options="hourOptions"
                                @update:modelValue="(option: Option) => onSelectHour(option.value)"
                            />
                            :
                            <ComSelectBox
                                v-model="minute"
                                :options="minuteOptions"
                                @update:modelValue="(option: Option) => onSelectMinute(option.value)"
                            />
                        </div>
                    </div>
                </div>
            </template>
        </ComDropdown>
    </div>
</template>
